[2016-09-02 23:53] intel-aero opened #1 "Issue Template"
**Issue Template:**

**Issue Type:** _It can be Bug, Task, Feature, Risk, Story_

**Summary:** _A short summary to explain the issue in one or two lines_

**Description:** _Add details of the issue such as, expected behavior, current behavior, how often its reproduced, steps to reproduce etc_

**Component affected:** _Such as USB, wifi, etc_

**Git tag tested:** _Example: v01.00.01_

**BIOS Versio

[2016-09-07 18:55] vjayara1 opened #2 "Enable watchdog functionality in Intel-Aero platforms"
Issue Type: Feature/Enhancement

Summary: Enable Watchdog functionality

Description: This patch aims to enable watchdog capability for the intel-aero platform, so that if the kernel/platform hangs by any chance the platform will be rebooted automatically after the TIMEOUT period.

Component: system feature

BIOS version: 01.00.05

[2016-09-07 20:49] vjayara1 commented on #2
This issue will be addressed within the next couple of releases

[2016-09-07 20:55] icpda commented on #2
Please keep open till the commit that address the issue is publish and close mentioning the commit id

[2016-09-19 17:27] PabloMIntel opened #3 "Problem building the image with Yocto Krogoth"
The git clone command for getting the meta-intel layer was missing the -b krogoth flag. It would be a good idea to add that to the instruction to avoid getting the master branch of the layer instead of the Krogoth

[2016-09-19 18:01] intel-aero commented on #3
Currently, we are using master branch on meta-intel due to a dependency. Please use below commands to clone meta-intel:

git clone git://git.yoctoproject.org/meta-intel
cd meta-intel; git checkout 5326759e90180523da3617becfab4a7e21d7ebde; cd $POKYSRC

[2016-09-21 20:04] whbruce opened #4 "Wiki: Application example in "Develop on Intel Aero" section should be updated to use devtool"
**Issue Type:** Documentation feature request

**Summary:** Wiki: Application example in "Develop on Intel Aero" section should be updated to use devtool

**Description:** devtool is a Yocto tool that simplifies application development by generating recipes from source code, deploying resulting package and even allows building of image with that package included. See https://wiki.yoctoproject.org/

[2016-09-21 20:30] intel-aero commented on #4
Thank you for bringing this to our attention. Updated documentation to reflect devtool info.

[2016-09-21 20:30] #4 closed

[2016-09-27 02:15] airmapinc opened #5 "Add airspace managment data integration"
Issue Type: Feature/Enhancement

Summary: Add Airspace Data Access

Description: The AirMap airspace management system facilitates regulation conformity and notification compliance based on current location. Additionally, AirMap provides weather data, flight telemetry endpoint, and live alerts based on updated drone location.

Component: Airspace Management

BIOS version: 01.00.05

[2016-10-02 11:38] LorenzMeier opened #7 "Remove or shorten 10 seconds boot delay if there is only one image available"
The 10 seconds delay is pretty annoying for on-vehicle use and as the boot prompt has only one choice its not adding any value. If the recovery console is significant then it should be cut to 2-3 seconds.

[2016-10-02 11:41] LorenzMeier opened #8 "WIFI SSID not showing up on latest image"
I'm not getting the hostap / SSID being broadcasted. I have the image from Tue Aug 16, built 15:11:54. I checked the known limitations but that did neither fix it nor is it practical to do this in the field. Reliable wifi is critical to make operating the board feasible.

[2016-10-03 16:48] intel-aero commented on #8
Lorenz - We can have captured this as a know issue and we will resolve this in next release, which is due shortly. Thank you!

[2016-10-03 16:48] #8 closed

[2016-10-03 16:50] intel-aero commented on #7
Lorenz - We will resolve this in next release, which is due shortly. Thank you!

[2016-10-03 16:50] #7 closed

[2016-10-03 16:51] #3 closed

[2016-10-06 16:43] JochiPochi opened #9 "Including 32-bit multilib configuration for jam-stapl breaks numerous recipes in meta-ros"
Several recipes for ROS packages from the Yocto layer https://github.com/bmwcarit/meta-ros experience packaging issues of the following kind:

`
ERROR: genmsg-0.5.7-r0 do_package: QA Issue: genmsg: Files/directories were installed but not shipped in any package:
`
`
ERROR: roscpp-traits-0.5.7-r0 do_package: Fatal QA errors found, failing task.
`
`
ERROR: roscpp-traits-0.5.7-r0 do_package: Function

[2016-10-06 17:07] intel-aero commented on #9
We are aware of this issue and it will be addressed in next release, which is due soon.

[2016-10-06 17:07] #9 closed

[2016-10-06 17:33] JochiPochi commented on #9
Thanks!, I'll be looking forward to it.
What would you suggest to do on the mean time?
Is it okay to remove the entire commit? (https://github.com/intel-aero/meta-intel-aero/commit/f2374a86abe055d1b3cadf91ecbb7c40f1a8c275)

[2016-10-06 18:14] omarrmz commented on #9
Hi, the jam binary is compiled statically anyway, these were wrongly kept from an alternate recipe that used actual sources, they are not needed. You can remove the following from the conf and if possible submit a patch (we have a patch to be included at the next release but will drop it if you submit one):

+require conf/multilib.conf
+MULTILIBS = "multilib:lib32"
+DEFAULTTUNE_virtclass-multilib-

[2016-10-07 15:15] JochiPochi commented on #9
Awesome. I'll work on something, test and PR if it works well then. Thanks

[2016-10-12 18:27] intel-aero commented on #5
Integrated in release v01.00.02

[2016-10-12 18:28] intel-aero commented on #9
This issue is resolved in release v01.00.02

[2016-10-12 18:28] intel-aero commented on #8
This issue is resolved in release v01.00.02

[2016-10-12 18:28] intel-aero commented on #7
This issue is resolved in release v01.00.02

[2016-10-12 18:29] intel-aero commented on #2
Feature is enabled in release v01.00.02.

[2016-10-12 18:29] #2 closed

[2016-10-12 19:23] JochiPochi commented on #9
Thank you!

[2016-11-07 10:48] sungwunyang opened #12 "wifi connection & BIOS update"
hi
I bought an Aero board this time. There is a problem trying to connect wifi before basic test.
When switching from AP mode to station mode, the program continues to repeat as if it had an infinite loop.
When you exit the mode, wlan0 disappears. In this case, wlan0 appears in the format.
In addition, iwconfig does not hold all drives.
Also, after updating the BIOS, the board suddenly goes on fir

[2016-11-07 17:03] intel-aero commented on #12
Hi - Please update to latest Software Release and try your test again. Please follow below link: https://github.com/intel-aero/meta-intel-aero/wiki/Upgrade-To-Latest-Software-Release

[2016-12-02 03:18] shening opened #13 "VIDIOC_DQBUF error 19 when running librealsense examples"
Issue Type: bug?

Summary: When I try to run any of the librealsense examples on the Aero board I get an error. I have updated both the bios and the OS to the latest

Description:
in usr/share/librealsense/examples/cpp-multicam
Starting Intel RealSense R200 .... Done
terminate called after throwing an instance of 'std::runtime_error'
what(): VIDIOC_DQBUF error 19, No such device

Component affecte

[2017-01-20 04:15] PeterQFR opened #14 "Support for Ubuntu in Intel Aero"
Issue Type: Feature/Task

Summary: Ubuntu has a mature package management system, which provides a large number of precompiled libraries such as boost, ros, opencv openpcl. Yocto does not.

Description: Can we get an Ubuntu 16.04 image for the Aero board

Component affected: All features of the board

[2017-01-24 19:50] intel-aero commented on #14
Please send your request to the forum at https://communities.intel.com/community/tech/intel-aero

[2017-01-24 19:51] intel-aero commented on #13
Please update to latest [software release](https://github.com/intel-aero/meta-intel-aero/wiki/Upgrade-To-Latest-Software-Release) and try again

[2017-01-26 02:08] mbelluzzo opened #15 "Provide the image SDK"
You already provide the pre-built yocto image ready to flash, why don't you provide the generated yocto sdk's for the image that can be generated by the same server+command line that created the image in first place. If you already do so, plz update the wiki + intel download center page accordingly.

It saves a lot of time and effort for developers who want to build apps on top of your product.

[2017-01-26 02:29] mbelluzzo commented on #15
```bitbake <whatever you need> -c populate_sdk```

[2017-01-26 09:52] ChristophTobler opened #16 "WIFI disconnection"
I had have some random disconnects when using the WIFI of the Aero. BIOS, OS and FPGA are all up to date.
[code]
The dmesg output can be seen here: http://pasted.co/6e217e2b

[2017-01-26 19:17] #12 closed

[2017-01-26 19:17] bansalma commented on #5
AirMAP 1.8 integrated in v01.00.04

[2017-01-26 19:17] #5 closed

[2017-01-30 08:21] vilvo commented on #16
It can be followed from kernel log line 752:
 `[   73.697332] iwlwifi 0000:01:00.0: Queue 4 stuck for 10000 ms.`
to `intel-aero/kernel-source/drivers/net/wireless/iwlwifi/pcie/tx.c` which dumps the log lines 753-793.
to `intel-aero/kernel-source/drivers/net/wireless/iwlwifi/pcie/rx.c` for line 794:
`[   74.117575] iwlwifi 0000:01:00.0: Hardware error detected.  Restarting.`
to `intel-aero/kernel-s

[2017-01-30 09:03] ChristophTobler opened #17 "USB disconnects"
I also have problems getting a stable usb connection. I use ```sudo ifconfig <name> 192.168.7.1``` to set the IP and then I can connect with ```ssh root@192.168.7.2```. But usually after ~1min I get disconnected.

This is the ouput of ```dmesg``` on the aero:
[code]

and this is ```dmesg``` of my desktop:
[code]

[2017-01-30 13:48] ChristophTobler opened #18 "Barometer offset"
http://logs.px4.io/plot_app?log=fea66d89-2473-4690-9508-c3d151be6543#Nav-Altitude-Estimate
The barometer shows an altitude of almost 6000 meters. Is it a driver issue?

[2017-01-30 13:48] ChristophTobler opened #19 "GPS jamming"
http://logs.px4.io/plot_app?log=fea66d89-2473-4690-9508-c3d151be6543#Nav-GPS-Noise-_-Jamming
The GPS jamming indicator is very high. This could be due to the FPGA interfering with the GPS. I guess this could be improved by isolating and grounding the FPGA.

[2017-01-30 13:49] ChristophTobler opened #20 "IMU noise"
http://logs.px4.io/plot_app?log=fea66d89-2473-4690-9508-c3d151be6543#Nav-Raw-Acceleration
In this plot you can see that there is too much noise. We suspect that this has to do with the motors not being dampened.

[2017-01-31 09:37] ChristophTobler commented on #16
Hard to answer... every once in a while. They don't happen regularly, but randomly. Maybe every third time I connect

[2017-02-01 07:52] ChristophTobler commented on #16
To also have the information here:
I have a Dell XPS 13 with Ubuntu 16.04, Kernel: 4.10.0-994-generic and it has QCA6174 802.11ac Wireless Network Adapter
The disconnects are Aero specific and they happen irregularly. It does not happen with the normal network (at least not that I have noticed).

[2017-02-01 10:23] ChristophTobler commented on #18
https://github.com/PX4/Firmware/pull/6485 does not seem to have changed anything. We see the same offset and the same noise
![qgc_baro_aero](https://cloud.githubusercontent.com/assets/14769636/22503151/b61f7294-e870-11e6-81af-104e43cd9bf9.png)

[2017-02-01 10:35] ChristophTobler commented on #16
We have the issue now on several devices and with two different Aeros. Here's another ```dmesg``` output http://pasted.co/6ac0907c

The devices:
* Dell XPS 13 with Ubuntu 16.04, Kernel: 4.10.0-994-generic and it has QCA6174 802.11ac Wireless Network Adapter
* Dell Alienware with Ubuntu 16.04, Kernel: 4.4.0-59-generic, WIFI: TP-LINK usb adapter and internal: Intel Wireless 3165
* HP Omen with Ubunt

[2017-02-02 17:30] lfelipe commented on #18
@lucasdemarchi

[2017-02-02 17:43] ChristophTobler commented on #20
Dampening the motors with three layers of (black) tape didn't help much... http://logs.px4.io/plot_app?log=708084f0-4d7d-45ca-adbd-28583968b3d2#Nav-Raw-Acceleration

[2017-02-03 07:49] vilvo commented on #16
Thanks @ChristophTobler for reporting. I tried to reproduce the issue with my bare Aero compute board using an automated cycle "power on - boot and grep dmesg for the error - power  off ". I ran it twice for 10 boots but could not reproduce the issue. There's probably a difference in our HW setup or this is HW specific. This was listed as a known issue in cold boot scenarios at https://github.com/

[2017-02-03 07:59] vilvo commented on #19
Nice GPS jamming indicator graph, like a city skyline. On the more serious side, this would need an in-depth analysis. Do you have a scope? Please keep us updated if you look more into this.

[2017-02-03 08:21] ChristophTobler commented on #17
@vilvo The baud rate is 1500k

[2017-02-03 08:27] ChristophTobler commented on #19
We will test the effects with the Typhoon and the Real Sense kit. There the board seems to be shielded. I wonder if that has similar issues/effects.

[2017-02-08 21:47] lucasdemarchi commented on #18
@ChristophTobler  On my end I noticed it actually improved the noise a lot from +-1m to +=15cm (which is the expected for this sensor).

The absolute altitude is in fact a problem and I came to know this week that we can have different sensors on different boards. There's no way to differentiate MS5607 from MS5611 looking only to the registers. I'm going to submit a PR to use some heuristics in or

[2017-02-08 21:55] ChristophTobler commented on #18
@lucasdemarchi Ok, good to know. Thanks!

[2017-02-09 08:08] ChristophTobler commented on #18
This issues will be tracked in https://github.com/PX4/Firmware/issues/6545

[2017-02-09 08:08] #18 closed

[2017-02-09 08:10] ChristophTobler commented on #19
This issues will be tracked in https://github.com/PX4/Firmware/issues/6546

[2017-02-09 08:10] #19 closed

[2017-02-09 08:11] ChristophTobler commented on #20
This issues will be tracked in https://github.com/PX4/Firmware/issues/6547

[2017-02-09 08:11] #20 closed

[2017-02-14 12:48] airmapinc opened #21 "Verify and Release Mavlink Router Updates"
The mavlink router service for the localhost would not start after the first time. The service runs perfectly initially but does not run after reboot. This is not always the case as sometimes it does run after reboot. I can test as needed to make sure we run multiple times to assure functionality.

Testing:

Add the localhost to mavlink router startup script (-e 127.0.0.1). Check connection locall

[2017-02-14 13:29] vilvo commented on #21
Thanks, adding localhost to mavlink router startup is clear but would you please pass the exact command for

in aero shell?

[2017-02-14 14:11] airmapinc commented on #21
I am adding a test file to check the mavlink router service.

python mavrouter-test.py and look for the "Got Heartbeat..." message

[2017-02-15 13:35] vilvo commented on #21
Thanks, I had a chance to test this quickly with a compute board after hard reset...

<pre>
root@intel-aero:~# ps|grep mavlink
  570 root     13056 S    /usr/bin/mavlink-routerd -b 1500000 -e 192.168.7.255 -e 192.168.1.255 -e 127.0.0.1 /dev/ttyS1
root@intel-aero:~# python mavrouter-test.py
Waiting for GPS Heartbeat...
</pre>
... but I'm afraid my compute board is flat-lining.

On the serious side,

[2017-02-15 13:44] airmapinc commented on #21
The Got Heartbeat... is what you are looking for. You can remove the -e 192.168.7.255 and -e 192.168.1.255 for testing purposes.

Test procedure:

wait for Got Heartbeat...
pull power if you get a heartbeat and run test again. repeat a few times to make sure you get a heartbeat every time

Yes, we should mavlink version to a specific version on github. That is a good idea.

[2017-02-17 06:06] vilvo commented on #21
I ran the power cycling five times and "Got Heartbeat" every time. For this test I used [the latest released version](https://downloadcenter.intel.com/download/26500/UAV-installation-files-for-Intel-Aero-Platform). I agree that reliability issues should be solved. For that I appreciate all your and community ideas to reproduce the issue so it can be debugged further.

For the Aero fix release bein

[2017-03-07 07:25] lucasdemarchi opened #23 "Change IP subnet for wifi"
USB ethernet uses 192.168.7.x subnet which avoids conflicts with common used ranges. However the WiFi AP uses 192.168.1.x which makes it difficult to use when you have to wifi adapters on your computer and want to use one to keep connected to the internet.

[2017-03-08 00:08] magicrub commented on #23
I'd like to suggest we use 192.168.2.x (or 192.168.6.x)

[2017-03-09 13:27] vilvo commented on #23
Patches welcome :)

[2017-03-16 18:48] zehortigoza opened #24 "HSUART1(ttyS1) dropping bytes"
Transmitting small chunks of bytes is fine at higher baudrates but when there is continuous transitions of data it start to drop some bytes.

On dmesg we can see several messages like this:
[ 224.450230] serial8250: too much work for irq39

A easy way to reproduce it is flash the FPGA with: /etc/aero_compute_board_only_fpga.jam connect a FTDI to the HSUART pins on the power connector and send cont

[2017-03-16 19:23] mindThomas opened #25 "Update meta-ros to latest version + include librealsense in meta-ros"
Hi.
We have been struggling for weeks now with a lot of technical issues with the Intel Aero drone and the "default" Yocto installation that comes with it (and released here on Github).
I am here trying to mark down our findings and issues.
 - Old MAVROS version which does not support Ulogger
 - Old meta-ros version
 - meta-ros layer does not include librealsense

Finally we will now be trying to

[2017-03-16 21:41] lfelipe opened #26 "Provide automounting solution for microSD card"
This will be needed in case we want to provide a solution that also stores flight logs directly in a microSD card with the user just "plugging it in".

[2017-03-16 22:56] whbruce commented on #15
+1. Should also provide the more powerful [Extensible SDK](https://wiki.yoctoproject.org/wiki/Extensible_SDK)

`bitbake intel-aero-image -c populate_sdk_ext`

[2017-03-17 10:11] vilvo commented on #26
It´s a good use case. Safe umount for user to "unplug it" is trickier so we would need to define acceptable criteria. Can we rely on flight logs writing syncing regularly and do you see a risk of corrupting the data if user feels lucky and just "unplugs it"?

[2017-03-17 14:05] vilvo commented on #25
I synced meta-ros fork in aero and change the dev-manifest to point to the latest in it.

Would have tested the build but our AWS build server at http://ec2-52-59-242-235.eu-central-1.compute.amazonaws.com:8080/ ran out of disk space, need to check that and the build the next week.
If you plan to build and test, please not that dev-manifest also points to newer kernel which currently drops some Ae

[2017-03-19 20:41] mindThomas commented on #25
Can you please elaborate on which kernel patches this include?
I guess we could also just take the default manifest and change the meta-ros revision to the newly update/latest revision?
So there is no need for applying any Aero specific patches when it comes to meta-ros? Is this forked straight from the meta-ros repo without making any changes?

[2017-03-20 10:02] vilvo commented on #25
Sure, you can see the list of kernel patches in this commit: https://github.com/intel-aero/meta-intel-aero/commit/0cd3ca13f7bba8ef9dd3c960530496a16c5a2b5a

To your proposal - I just tried to build the dev-manifest with the updated meta-ros but it introduces also librealsense-support which causes an error with librealsense recipe from the release manifest:
`ERROR: Multiple versions of librealsense

[2017-03-20 19:24] mindThomas commented on #25
Yes, this was also the exact problem we were facing.
But why is it that we are unable to build any ROS applications then (catkin build) when we try to include this apparently detected librealsense library? (using the current default Intel Aero image)
When we include it as a dependency in our make configuration we get an error stating that it is unable to locate the cmake config for librealsense.

[2017-03-28 17:52] lucasdemarchi opened #31 "Add bootloader instrumentation to boot from another drive"
In order to provide better update process we need to boot from a thumb drive, without touching BIOS. There are some ways to do this:
1) We can add a boot entry on the bootloader of our internal drive to boot from a different drive and then allow it to boot from it only on next reboot
2) We can play with efivars in order to instruct the bios to boot from another place on next reboot

(1) is probabl

[2017-03-28 17:54] lucasdemarchi commented on #23
I'm going with 192.168.8.x

[2017-03-28 17:57] lucasdemarchi commented on #26
We do sync it regularly for other reasons... we could be facing a very imminent crash and we do want the logs in that case.

@lfelipe systemd provides a very easy way to do it so I'm going to put it under the systemd umbrella.

[2017-03-28 18:04] lucasdemarchi commented on #14
@PeterQFR agreed, but this is out of scope for this repository.

Btw, you can already install Ubuntu on Intel Aero. To get the full functionality of the HW you will need some patches here and there, particularly to the kernel. You could take a look on this repo to check what are the required patches and use this kernel for booting Ubuntu, Fedora, Arch or any other distro.

I'm closing this issue i

[2017-03-28 18:04] #14 closed

[2017-03-28 18:09] lucasdemarchi opened #32 "User feedback during update progress"
Some ways to keep the user notified about the installation progress:

- Use the RGB LED: for compute-board only since RGB LED is not visible on RTF.
- Open a mavlink shell on the FC and instructs tap_esc to make a sound (need to check ESC commands and ensure it works) - for RTF only since compute-board alone doesn't have a FC
- Create an http server so the user can go to http://intel-aero.local an

[2017-03-28 18:12] magicrub commented on #23
192.168.8.x works for me. Thank you! I had changed mine to 2.x because it was extremely annoying to work with my laptop while on a docking station /w Ethernet on my 1.x LAN.

[2017-03-28 19:15] lucasdemarchi opened #33 "Add FPGA recovery firmware for RTF"
Recovery firmware is useful for holding the FC into bootloader during boot so users can recover from a partly bricked scenario

[2017-03-28 19:16] lucasdemarchi opened #34 "Runtime configure the RTF FGPA to act as recovery-fpga"
Similar to #33, but we could combine both firmwares so people don't have to flash a new one.

[2017-03-28 19:20] lucasdemarchi opened #35 "Add version to FPGA firmware"

[2017-03-28 19:21] lucasdemarchi opened #36 "Upgrade librealsense"

[2017-03-28 19:21] lucasdemarchi opened #37 "Add ROS node for realsense"

[2017-03-28 19:22] lucasdemarchi opened #38 "Upgrade mavlink-router"

[2017-03-28 19:22] lucasdemarchi opened #39 "Upgrade PX4 firmware"

[2017-03-28 19:24] lucasdemarchi opened #40 "Add ArduPilot firmware besides PX4"
PX4 is the flight stack coming on the FC. Adding both PX4 and ArduPilot binaries on the BSP allows to switch back and forth between them.

[2017-03-28 19:26] lucasdemarchi opened #41 "Enable seemless flight stack logging"
Mavlink Router already has capability to save the flight stack log (for PX4 is done, for ArduPilot is wip). Enable it by default on BSP.

[2017-03-28 19:32] lucasdemarchi commented on #25
#36 and #38 tasks to be accomplished for M0.

[2017-03-28 19:36] lucasdemarchi commented on #24
"too much work for irq39" is gone if we redirect the interrupts to another core or if we update the kernel to 4.10.  However there's still corruption on the received packets if we go beyond baudrate of 460800.  Investigation for proper fix is needed so moving assigning this as milestone M1, so we can take a look again on it.

[2017-03-28 19:38] lucasdemarchi commented on #16
Possible fix in #30.  After that's integrated, let's see if this improves.

[2017-03-28 19:41] lucasdemarchi commented on #1
This should be in a .github directory.

[2017-03-28 19:41] #1 closed

[2017-03-28 19:45] lucasdemarchi opened #42 "Use meta-intel"
We should be using meta-intel layer so 1) we share all the improvements from that layer and 2) It makes our lives easier wrt updates.

- meta-intel-aero should be a thin layer, basically for configuration
- Bump kernel to meta-intel: 4.4, 4.9 or 4.10

[2017-03-28 19:48] lucasdemarchi commented on #42
@whbruce any comment on how the layers on meta-intel-aero are structured?  Currently for each "fork" of a layer from yocto there's a meta-intel-aero-<layer> layer added on top with the customizations. This makes it really difficult to keep track of updates and what's coming from where.  Do you agree we should instead fork the corresponding layer and add things on top?

First example that comes to

[2017-03-28 19:50] mindThomas commented on #25
Thanks. Looking forward to that release.

[2017-03-28 19:56] lucasdemarchi commented on #42
M1, but possibly the next one.

[2017-03-28 20:41] whbruce commented on #42
Definitely a good idea to move to meta-intel BSP. You'll get better compiler tunings for compute intensive workloads and updated iwlwifi microcode (8000C-19).

Do you want to keep the intel-aero machine name, or move a different one that reflects meta-intel nature of the new machine definition?

Let's keep layer clean-up as a separate issue.

[2017-03-28 20:53] lucasdemarchi commented on #42
I don't care much about the machine name, although I think leaving as intel-aero would be good.

Hostname definitely needs to be intel-aero as we use it as a link local name.

[2017-03-28 20:57] lucasdemarchi opened #43 "Cleanup layers"
meta-intel-aero-* can be removed and the respective layers from yocto could be forked directly. Or depending on the package we could just have some .bbappend files. This way it's easier to see what's different from baseline and intel-aero

[2017-03-28 20:57] lucasdemarchi commented on #42
I updated the description and created a separate issue for layer cleanup:
https://github.com/intel-aero/meta-intel-aero/issues/43

[2017-03-28 21:02] lucasdemarchi opened #44 "Review packages installed"
Review current list of packages on the image and remove unnecessary cruft. There are lots of packages installed that aren't used anymore and shouldn't be installed. And on the other hand there are useful packages like psutils that aren't.

[2017-03-28 21:06] lucasdemarchi opened #45 "Add collision avoidance library"
https://github.com/01org/collision-avoidance-library

[2017-03-28 21:12] lucasdemarchi opened #46 "Enable support for package-based updates"
rpm with dnf would be preferable.

[2017-03-28 21:42] lucasdemarchi opened #47 "Review/improve documentation on the public wiki"
There are lots of outdated info on our wiki. And they will become even more after M0 and M1 are completed.  Review and update the wiki after each milestone.

[2017-03-28 21:48] edersondisouza commented on #38
Isn't this related to (accomplished by) #28 ?

[2017-03-28 21:52] whbruce commented on #46
Recommended rpm package manger for krogoth is [smart](https://labix.org/smart). dnf is not available until Yocto 2.3.

[2017-03-28 22:18] whbruce commented on #47
The [Developing on Intel Aero](../wiki/Developing-on-Intel-Aero)  section needs particular attention and should reference use of Extensible SDK as per #15

[2017-03-28 22:57] lucasdemarchi commented on #47
For flashing the thumb drive, besides the dd info we should add Etcher, that's a graphical utility available for Linux, Windows and Mac.

We can think about bmaptool, too which is much faster than any other method, but I think it's Linux-only.

[2017-03-28 23:09] mbelluzzo commented on #45
- [ ] Move 'meta-coav' from coav's repo (we need a public repo for that)
- [ ] Add 'meta-coav' on meta-intel-aero (I have a scratch of this already)

[2017-03-29 06:46] lucasdemarchi commented on #45
No more meta-*. Add it to meta-intel-aero

[2017-03-29 16:55] lucasdemarchi opened #49 "Add camera streaming daemon"

[2017-03-29 16:56] lucasdemarchi commented on #38
Once it's applied, yes. But we will need to do a release of mavlink-router and add the release version here instead of "git master".

[2017-03-29 18:27] lucasdemarchi commented on #35
@zehortigoza there's a version already on the compute-board-only fpga. Could you copy the version handling to the RTF version? You will also need to copy the spi slave implementation.

What's the version they are using there? Maybe we should have a "WHOAMI" register and a 16 bit version register.

[2017-03-29 19:06] lucasdemarchi commented on #37
This was merged in the dev branch, but it broke the build since the version and patches from the meta-ros layer conflict with the one on meta-intel-aero-librealsense. sigh.

meta-intel-aero-librealsense eventually will go away after the layer cleanups, but maybe fixing it for now is just a matter of understanding which place has correct version of kernel patches and make the version on this meta l

[2017-03-29 19:07] lucasdemarchi commented on #36
Fixing #37 probably fixes this one as well. Just make sure to use the latest stable version that's compatible with ROS.

[2017-03-29 19:07] lucasdemarchi commented on #36
@mbelluzzo ping here as well.

[2017-03-29 22:53] mbelluzzo commented on #37
meta-ros upstream (they dont keep releases) doesn't ship librealsense anymore, actually it doesn't ship some recipes for python tools as well, it relies on meta-intel-librealsense and meta-python (after a given version). I will try to bump everything to match their newest versions/releases and everything should work.

[2017-03-29 22:57] mbelluzzo commented on #45
No way, coav needs its meta layer for its own reason. Also, coav isn't a product of intel aero, it makes no sense to maintain recipes to it there. We may have a custom recipe on meta-intel-aero that makes usage of meta-coav.

[2017-03-29 23:04] lfelipe commented on #21
Being solved by #38 .

[2017-03-29 23:04] #21 closed

[2017-03-29 23:16] lucasdemarchi commented on #45
If you are going to maintain a meta-coav, fine. I think it would be better if you go through the yocto's  standard layers than to keep your own layer for a single package. This would avoid problems like the one that happened for meta-librealsense vs meta-ros.

[2017-03-29 23:24] lfelipe commented on #45
Something like meta-drones which includes mavlink-router, coav, camera streaming and possibly others would make sense. Then it would be easy for others to integrate this as a set (and it would serve as a location to integrate newer components as well).

[2017-03-30 17:32] lucasdemarchi opened #50 "Tools that should not be provided by busybox"
This is a collection of tools that we keep adding here that should be provided by the original tools, not the cap'ed ones from busybox.
- ps
- tar

Just because it's horrible to use them and this should be developer-friendly.

[2017-03-31 01:20] lucasdemarchi commented on #23
Fixed, it's now 192.168.8.x

[2017-03-31 01:20] #23 closed

[2017-03-31 01:22] #33 closed

[2017-03-31 01:24] lucasdemarchi commented on #31
Done with efibootmgr and applied.  Missing a script on the installer so the user has an efibootmgr to tell to reboot in USB

[2017-03-31 06:58] lucasdemarchi opened #51 "Update iwlwifi to Core24"
Redo the patches on #30 to make it work

[2017-03-31 14:01] blankered opened #52 "change default startup from ap_mode to station mode"
Hi,
 I am trying to determine the most minimally invasive way of switching the default ap_mode on boot to station mode. I have found some sources on system_ctl but I am unfamiliar with that tool. Any help is greatly appreciated.

[2017-03-31 16:04] lucasdemarchi commented on #52
Have you seen https://github.com/intel-aero/meta-intel-aero/wiki/Functionality#station-mode ? It may change slightly for the next release, but it's currently what's there.

[2017-03-31 21:11] #51 closed

[2017-03-31 21:57] zehortigoza commented on #35
So the actual script send the WHOAMI register(0x00) then reads only 1 byte.
aero_sample is using 0xA1 as registor version so here https://github.com/intel-aero/intel-aero-fpga/pull/1
it is using 0xC1

[2017-03-31 22:56] lucasdemarchi commented on #35
Yep, looks good for now.

[2017-03-31 22:56] lucasdemarchi commented on #35
Please send  the update recipe.

[2017-04-01 01:56] lucasdemarchi commented on #46
We may want to wait until 2.3 then. Or investigate other possibilities.

- swupd
- mender

I'd hate to go with smart now just to switch to dnf or something else in the other release.

[2017-04-01 01:56] lucasdemarchi commented on #46
Assigning M1, but probably a future milestone

[2017-04-01 02:25] lucasdemarchi commented on #41
Done on mavlink-router. Just needs updated recipe.

[2017-04-01 02:25] #36 closed

[2017-04-01 02:25] #37 closed

[2017-04-01 02:26] lucasdemarchi commented on #41
ok, #38 can be used for tracking the update.

[2017-04-01 02:26] #41 closed

[2017-04-01 02:26] lucasdemarchi commented on #31
Finished by adding the aero-reboot-update.py script.

[2017-04-01 02:26] #31 closed

[2017-04-01 02:27] #35 closed

[2017-04-01 02:37] lucasdemarchi opened #59 "Make aero tools use sane prefix"

[2017-04-01 02:38] lucasdemarchi opened #60 "Move FPGA firmwares to their own directory"

[2017-04-02 22:26] mindThomas opened #61 "Contradictory manifest and BBLayers.sample file"
After recent commits (eg. 3a09bb0c0280a024a5b50683b1467ba962e63866) the default manifest file and the BBLayers file are no longer matching.

The result is a broken build.
OBS. All new users trying to build will not be able to follow the guide and build.

[2017-04-02 23:27] lucasdemarchi commented on #61
It should be meta-intel-realsense. I think I overlooked it while merging stuff on Friday. Sorry.

[2017-04-03 07:24] mindThomas commented on #61
Not quite. Just renaming gives you the following error:
[code]
This might be explained by the fact that the manifest points to the meta librealsense layer hosted within the intel-aero git, which has not yet been updated to version 1.12.1 (see https://github.com/intel-aero/meta-intel-aero-librealsense/tree/krogoth/recipes-support/librealsense)

[2017-04-03 08:36] mindThomas opened #62 "Problem with librealsense config files (and binaries) not getting installed"
While trying to sort out all the librealsense mess I simply can't get my head around the missing parts from the librealsense library build.
I have managed to successfully build the image (obs. without build errors) while using librealsense 1.12.0 within the librealsense meta layer and realsense-camera in the ROS layer pointing/using this version.

But when I boot the image it does not boot properl

[2017-04-03 09:13] mindThomas opened #63 "Failing: RealSense_Camera_Support_linux-yocto_4.4.patch"
With the latest commit 07c3b7ec10daa66c3be7ec8c1ed7a414e5740b65 the RealSense camera patch for the Kernel can not be applied and is failing when building.
Notice I am using librealsense 1.12.1 as supposed with the patch used (see https://github.com/intel-aero/meta-intel-aero/blob/master/recipes-kernel/linux/linux-yocto/realsense_camera_formats_linux-yocto_4.4.patch).
See error log below:
[code]

[2017-04-03 15:39] mbelluzzo commented on #61
There was a change on the manifest pointing to the new repo. You will have sync/init from the newest manifest. Dont forget to export TEMPLATECONF before sourcing poky env.

[2017-04-03 15:47] mbelluzzo commented on #62
If "realsense-camera" isn't get included on your image, you probably have a dirty environment. We have to change some layers of the image due to repositories being no longer maintained. When dealing with yocto layers and repo manifest, during development is impossible to keep everything working on every commit due to circular dependency: manifest revision depends on rev number for a meta layer tha

[2017-04-03 15:47] #62 closed

[2017-04-03 15:58] mbelluzzo commented on #63
If you are using master, you should be using master manifest as well, otherwise you will end up with an incompatible build environment. The patch stated by the log is no longer being used on master image. When dealing with the master branch for image infrastructure repos, consider to always upgrade and synchronize everything with 'repo' and our manifest. Also, be aware that the master branch may b

[2017-04-03 15:58] #63 closed

[2017-04-03 16:15] lucasdemarchi opened #64 "Backport new atomisp from upstream kernel"
Atomisp has been merged as a staging driver on upstream. Backport to 4.4.x to replace our current version

[2017-04-03 16:41] rachelruijiayang opened #65 "How to boot and run intel-aero-image in qemu? Please add instructions to wiki"
I have successfully built the Intel Aero image using the instructions in [Quickstart Guide](https://github.com/intel-aero/meta-intel-aero/wiki/Quickstart-Guide#get-sources), and the images are located in ```intel_aero/poky/build/tmp/deploy/images/intel-aero```.  The files in here are:
[code]

**However, is there a way to run the image in the qemu emulator? (The configuration in [meta-intel-aero/co

[2017-04-03 16:57] mindThomas commented on #61
I have tried this on a completely clean/fresh installed machine today, taking the latest manifest using the Getting Started guide (as I've done always).
This does not work!

[2017-04-03 17:01] mindThomas commented on #63
You are clearly closing these issues too quickly.
I am indeed willing to workaround the issues, and with a decent knowledge of Linux, Yocto, ROS etc. I expected that I would come fairly easy around the problems.

I am indeed using the master manifest, pulled today on a fresh install of Ubuntu. Something is not right in your manifest!

[2017-04-03 17:04] mindThomas commented on #61
And just to prove you wrong, take a look at your own Jenkins server output from its' recent build: http://ec2-52-59-242-235.eu-central-1.compute.amazonaws.com:8080/job/aero-build-release/231/console

[2017-04-03 17:05] blankered commented on #52
Yes I have reviewed this documentation. I am looking for documentation that will allow me to boot into station_mode rather than boot into AP_Mode. This would reduce the needed process of logging into the Aero while it is in AP_Mode, running the autostart-supplicant.sh script, waiting for the Aero to switch over, logging back in on my own network. I think I need to append an rc script or another bo

[2017-04-03 17:20] lucasdemarchi commented on #61
Humn... The merges were done on Friday and the Getting Started was not updated. So maybe this is the problem... ? We are no longer using the dev manifest for example. Can you post the result of `repo info`?

[2017-04-03 17:23] lucasdemarchi commented on #63
@mindThomas that patch should not be applying anymore since it's replaced by another one. I see you opened 3 issues that are probably related. Let's keep #61 open to track down the issue until we figure out what exactly is the problem.  I just started a build from scratch to try to reproduce your issue.

[2017-04-03 17:24] lucasdemarchi commented on #61
As per comment in https://github.com/intel-aero/meta-intel-aero/issues/63#issuecomment-291212608, I'll keep this open to track the issue.

[2017-04-03 17:51] mbelluzzo commented on #61
As I said, there is a dependence between meta-intel-aero and the manifest on our master branches. We had to wait PR https://github.com/intel-aero/meta-intel-aero/pull/56 to be merged (which breaks the build if you use master branch without the changes on the manifest which aren't merged yet) so we can have the manifest PR https://github.com/intel-aero/intel-aero-manifest/pull/5 updated with the re

[2017-04-03 17:59] lucasdemarchi commented on #61
Now I see why I couldn't reproduce it on Friday. The issue is exactly that even though I changed the manifest to point to the correct commits I didn't push it. Doing it now.

[2017-04-03 17:59] mindThomas commented on #61
Let me just get this right.
When you say "master" branches you are referring to the master branch on the original (non-forked) branch? Or are you referring to just the master branch within the intel-aero repository?

If it is the first case everything makes sense ;)
Yup, I agree that if one make changes and pull requests and another only merges half of the pull requests, you will be asking for tro

[2017-04-03 18:06] lucasdemarchi commented on #61
@mindThomas yep... I merged the changes on all repos, but the changes on the manifest were not pushed for some reason. I just did it now. Can you try to compile it again and see if it's fixed?

[2017-04-03 18:54] blankered opened #66 "how to install nano editor"
While it isn't crucial that I use nano, I wanted to install it as apart of the process of learning to use Yocto. I thought it might be good to post this problem here so others who are looking to develop with Yocto might learn as well.

Following forum advice for the Intel Edision, I attempted to install nano using the following command:

wget http://www.nano-editor.org/dist/v2.2/nano-2.2.6.tar.gz

[2017-04-03 19:59] lucasdemarchi opened #67 "Make jam tool accept absolute path"

[2017-04-03 21:21] mindThomas commented on #61
I can confirm a successfull build again. I will test the image tomorrow and let you know the outcome.
FIY. Your Jenkins build server is still struggling though: http://ec2-52-59-242-235.eu-central-1.compute.amazonaws.com:8080/job/aero-build-release/lastFailedBuild/console

[2017-04-03 21:33] #38 closed

[2017-04-03 21:33] #39 closed

[2017-04-03 21:33] #59 closed

[2017-04-03 21:33] #60 closed

[2017-04-03 21:34] lucasdemarchi commented on #61
@mindThomas We just got access to fix the BSP and do this release. We still didn't touch the AWS infra. We will do that soon.

[2017-04-03 21:59] mindThomas commented on #61
Fantastic. I am very happy that you have managed to merge the changes and get this Intel Aero repo "up-to-date".
I will test and get back with my findings and/or comments.

[2017-04-03 22:05] lucasdemarchi opened #68 "Adopt os-release"
https://www.freedesktop.org/software/systemd/man/os-release.html

Better than the house-made os_version

[2017-04-03 22:27] JochiPochi commented on #61
I'll jump in to help test this too.
Seems that my PRs won't be happy until this is resolved

[2017-04-03 23:03] JochiPochi commented on #61
All the recipes were parsed just fine. So far the build is progressing steadily. This issue does seem resolved. I'll report back once I finish testing the image.

[2017-04-04 07:15] mindThomas commented on #61
Unfortunately no success with the image this morning. Build went fine but it does not boot.
One of the errors noticed along the way of booting the kernel was:
`Failed to execute /usr/local/bin/usb-R200-in_udev`
This was the same error we also had on the build I tried to make last week, when I pulled the latest branches manually.
After this error message the kernel messages continoues and shortly a

[2017-04-04 13:46] avinash-palleti commented on #50
[packages.xlsx](https://github.com/intel-aero/meta-intel-aero/files/893320/packages.xlsx)

Lucas,
Please find the data on packages which are from busybox.

[2017-04-04 15:33] lucasdemarchi commented on #66
You are telling wget to download nano, but your board is not connected to the internet.

If you are building your own BSP, you should rather add it to the packages to be installed in the yocto recipes. See yocto manual for that.

[2017-04-04 15:35] lucasdemarchi commented on #65
Currently there's no support for running it on qemu. This can be added in future releases. Would be a nice addition if anyone is willing to contribute to the project.

[2017-04-04 15:37] lucasdemarchi commented on #61
@mindThomas I guess you selected the "boot" option rather than leave the default "install".  It seems there's a daemon that's not playing nice with / being read-only or something like when booting the live image.

If you select "install", it should work... but be warned it will erase everything you have on /

[2017-04-04 15:39] lucasdemarchi commented on #61
https://github.com/intel-aero/meta-intel-aero/pull/57#issuecomment-290884711

These are the new steps for updating without a monitor and keyboard. We are still trying to simplify it a little bit before the release and use the LEDs for user feedback.

[2017-04-04 15:40] lucasdemarchi commented on #61
I'm closing this issue since we deviated the discussion from the original subject. Feel free to open another one specific to the problem you are having.

[2017-04-04 15:40] #61 closed

[2017-04-04 16:56] mbelluzzo commented on #25
I will post a status update here leaving off problems caused by side effects as discussed on (#61). From our last build, librealsense samples work, dmesg complains about not finding R200-in_udev file but works. Since now we will track meta-intel-realsense upstream. I'm investigating why of this (if it is being installed elsewhere, if not or if its no longer needed but not everything update accordi

[2017-04-04 19:19] zehortigoza commented on #67
https://github.com/intel-aero/meta-intel-aero/pull/70/

[2017-04-04 19:19] #67 closed

[2017-04-05 06:58] JochiPochi commented on #61
I second on starting a separate issue.
Since I did say I was going to report back after testing the image, for the record:
- I was able to boot without crashing using both "boot" and "install" options on the usb stick's grub menu.
I did see some odd stuff on the terminal, an overwhelming amount of `[[26^` that polluted all output so much that I couldn't see any other errors. But once the GUI came

[2017-04-05 07:03] JochiPochi opened #75 "Wiki error: "How to get to a console" incorrect."
This one is an easy one:

On the Getting started wiki:
https://github.com/intel-aero/meta-intel-aero/wiki/Quickstart-Guide#via-uarts1
The description of UART 1 on the power cable is backwards, it says:
- Following is the pin configuration of UART(s1) located on the power connector cable: Black is ground, Blue is TX and Yellow is RX. Connect the USB-TTL serial cable to your host and other end of ca

[2017-04-05 07:14] mindThomas commented on #61
Can I know how and to which type of USB Stick you installed the image?
Did you format the USB stick in any special way before or did you just use the 'dd' command as specified in the Getting Started guide?
We will try the "install" option now and let you know of the outcome.

[2017-04-05 07:57] mindThomas opened #76 "ROS realsense-camera node - undefined symbol: rs_get_detached_frame_data"
With the build based on master-branch from 3rd of April I'm not able to launch the realsense-camera node within ROS.
We get the error message shown below, of which it is important to notice this:

[code]

[2017-04-05 13:59] blankered commented on #66
Thanks for your help!

[2017-04-05 13:59] #66 closed

[2017-04-05 14:00] #52 closed

[2017-04-05 14:37] JochiPochi commented on #61
Here's a description of my setup:
- Compile machine was an Ubuntu 14.04 x86-64 system
- I use multiple USB sticks for this. A lot of times some cheap free flair I get from conferences and expos.
  When I but my own, I generally use [microcenter USB sticks](http://www.microcenter.com/category/4294966790/usb-flash-drives) but I really don't think that the type of USB stick matters much as long as th

[2017-04-05 15:26] mbelluzzo commented on #76
Currently we are working with intel-ros team to address that, but they
didn't give us any feedback yet. I will post a status update once I have
news.

On Wed, Apr 5, 2017 at 12:57 AM, Thomas Jespersen <notifications@github.com>
wrote:

[2017-04-05 17:13] avinash-palleti commented on #50
@whbruce
One query, as per below link the one with highest priority will go
into final image.
 http://stackoverflow.com/questions/34609716/yocto-busybox-overriding-coreutils
But in case of tar & ps, i see their priority in meta/recipes-extended/tar and meta/recipes-extended/procps as 100 and 200 respectively, where as meta/recipes-core/busybox priority is 50 then why in final image these utilities

[2017-04-05 19:33] lfelipe commented on #47
@guermonprez just updated the wiki with a new version. It needs to be updated to take under consideration the modifications done for Milestone M0.

- [ ] New update procedure;
- [ ] Information about logs;

[2017-04-05 20:08] zehortigoza commented on #75
Thanks, fixed.

[2017-04-05 20:08] #75 closed

[2017-04-05 21:07] whbruce commented on #47
[Developing-on-Intel-Aero](../wiki/Developing-on-Intel-Aero) needs attention. We should not be encouraging app development in the bitbake environment. Instead we should promote use of the extensible SDK and devtool. I would be happy to contribute the changes.

[2017-04-05 23:00] lucasdemarchi opened #78 "Update release version"
Version needs to be changed from 1.2-dev to 1.2 before doing the release

[2017-04-05 23:01] lucasdemarchi opened #79 "Update PX4 firmware"
It should contain new tuning parameters:

https://github.com/PX4/Firmware/pull/6971

And this:
https://github.com/PX4/Firmware/pull/6972

Though the latter is already in the current binary.

[2017-04-05 23:06] icoderaven commented on #76
Ditto. I think this is super close, and all it requires is just explicit linking in the CMakeLists to the realsense driver for the nodelet. This is the output for debug_info.

----------CUT-PASTE-THIS----------
|Version | Your Configuration |
|:----------|:----------|
|Operating System | Unable to detect operating system|
|Kernel | 4.4.3-yocto-standard|
|ROS | indigo|
|ROS RealSense | 1.7.2|
|libr

[2017-04-06 01:24] mbelluzzo commented on #76
https://github.com/intel-aero/meta-ros/pull/2

This solved the issue. Now no errors related to librealsense are issued, but there is python error about ros trying to detected the underlining OS. I dont know if this has any impact on the use of this nodelet. Can someone test this as well?

[2017-04-06 05:13] icoderaven commented on #76
This worked for me!

[2017-04-06 05:51] lucasdemarchi commented on #76
Change merged on meta-ros and manifest was just pushed.

[2017-04-06 05:51] #76 closed

[2017-04-06 06:40] #32 closed

[2017-04-06 17:06] blankered opened #80 "issue compiling cmake 3.4.1 for yocto image"
In attempting to compile the yocto image following the wiki page instructions, I have run into issues compiling cmake 3.4.1 for the image. Is this issue related to my host machine configuration? How should I attempt to fix this issue? I have cmake 3.5.1 on my host machine which runs ubuntu 16.04 natively.

[log.do_compile.txt](https://github.com/intel-aero/meta-intel-aero/files/903367/log.do_compi

[2017-04-06 18:18] mindThomas opened #81 ""python-imaging-1.1.7-r5 do_package_qa" build problem"
Fresh pull of repo yields Python-imaging build errors. Any clue?

[code]

[2017-04-06 19:40] #80 closed

[2017-04-07 12:38] mindThomas commented on #25
Tested out successfull build by Jenkins (intel-aero-image-intel-aero-20170406055649.iso) today on our Intel Aero drone.
Booted successfully and contained librealsense and the realsense-camera ROS node.
We were able to launch the RealSense ROS nodelet with just RGB and Depth image:
`roslaunch realsense_camera r200_nodelet_default.launch`
This successfully loads and we are able to see the image usin

[2017-04-07 12:40] mindThomas opened #82 "Realsense-camera ROS Nodelet not launching"
Today we tested out the recent successfull build by Jenkins (intel-aero-image-intel-aero-20170406055649.iso) today on our Intel Aero drone. The image boots successfully and contained librealsense and the realsense-camera ROS node.

We were able to launch the RealSense ROS nodelet with just RGB and Depth image:
`roslaunch realsense_camera r200_nodelet_default.launch`
This successfully loads and we

[2017-04-07 19:48] majassow opened #84 "Can't connect to MAVlink router from remote computer using dronekit"
I'm having an issue connecting to an Aero platform using Dronekit over wifi (QGroundControl is able to connect to the drone over wifi).

I'm using the command:
vehicle3 = connect(str(args.conn3), source_system=3, wait_ready=False)

if I run this on the Aero platform itself, using args.conn3 = "127.0.0.1:14550" connects successfully.
Using "192.168.1.255:14550" times out:

Using "192.168.1.1:14550"

[2017-04-07 21:06] icoderaven commented on #82
Just the pointcloud nodelet by itself works, however.

[2017-04-07 21:07] icoderaven commented on #81
I mentioned this on my forum post. I manually added the patch at
https://github.com/bmwcarit/meta-ros/issues/395

[2017-04-07 21:49] lucasdemarchi commented on #84
In the default configuration mavlink-router broadcasts the packets to all interfaces. However when the first client responds it switches to unicast to talk to that client only. What's probably happening is that you are connecting with QGC or in any other way with one IP and then trying to connect to it again from another IP.

Try the following and let us know if it works:
- Don't start QGC
- Resta

[2017-04-07 21:51] lucasdemarchi commented on #81
I've never seen this build error. And Jenkins as well as our internal build servers are running Ubuntu 16.04.

[2017-04-07 23:14] mindThomas commented on #82
@icoderaven - Can you please elaborate? What pointcloud nodelet are you referring to?

[2017-04-07 23:30] lucasdemarchi commented on #44
This may be useful:
http://www.thelins.se/johan/blog/2014/06/yocto-part-ii-baseline-image-size/

[2017-04-08 00:12] whbruce commented on #50
Your approach is not working as `tar` and `ps` are not provided by `coreutils` but their own recipes. You can determine this by looking at the content of `ALTERNATIVES` variable in the `coreutils` recipe and seeing they are not present.

Instead simply add the packages to the [core-tools packagegroup](../recipes-core/packagegroups/packagegroup-core-tools.bb). This works as both the `tar` and `proc

[2017-04-08 00:16] whbruce commented on #42
@lucasdemarchi, you can assign this to me.

[2017-04-08 00:36] icoderaven commented on #81
I got this on 14.04 on a clean build.

[2017-04-08 12:43] mindThomas commented on #81
Anything special/new that needs to be installed which has not been updated accordingly in the Getting Started guide?
We have now tried in both Ubuntu 14.04 and 16.04 with similar outcome

[2017-04-09 00:17] tridge opened #85 "default SSID has trailing spaces"
default SSID on my board is:
                    ESSID:"Aero-A0C5890969AB  "
the two trailing spaces make nmcli a bit of a pain

[2017-04-09 22:27] blankered opened #86 "missing realsense examples"
Hello,

I was following the instructions to compile and flash the master branch of the meta-intel-aero to my drone. After logging in, I can't find the  usr/share/librealsense/examples/cpp-capture folder. I tried installing the librealsense1 package as well as librealsense-examples from my build directory. Did I do something wrong? Are these examples removed from the git source?

EDIT: Sorry, I fou

[2017-04-09 23:31] blankered commented on #86
Sorry, this is confusing. Were the librealsense examples merged into the meta-intel-realsense layer?

[2017-04-09 23:33] #86 closed

[2017-04-10 01:21] blankered commented on #82
I had the same problem. You need to compile the rgbd-launch program under the meta-ros layer on your host machine. Then add IMAGE_INSTALL_append = "rgbd-launch" to your conf/machine/intel-aero.conf file under the meta-intel-aero folder. Then rerun bitbake intel-aero-image. Setup your host as a repository using smart if you are building RPM. Install rgbd-launch from your host repo.

[2017-04-10 04:40] avinash-palleti commented on #50
Thanks @whbruce for response. first approach will not work as these utilities are not provided by coreutils.
http://www.catonmat.net/download/gnu-coreutils-cheat-sheet.pdf

I tried second approach and it is working. Added tar and procps in core-tools packagegroup.

[2017-04-10 04:42] avinash-palleti commented on #50
@lucasdemarchi I have submitted pull request to update tar and ps utilities. Now from the excel sheet i attached above, we need to decide which tools has to be updated.

[2017-04-10 04:49] lucasdemarchi commented on #50
@avinash-palleti thanks.

Put the table here in plain text so it's easier to comment on them rather than using a spreadsheet

[2017-04-10 04:58] avinash-palleti commented on #50
Utilities from busybox:

addgroup
adduser
ash
blkid
clear
cpio
delgroup
deluser
dnsdomainname
dumpkmap
dumpleases
free
fsck
fuser
getopt
getty
gunzip
gzip
hostname
hwclock
ifconfig
ifdown
ifup
ip
killall
klogd
less
loadfont
loadkmap
logread
microcom
nc
netstat
nslookup
patch
ping
ping6
ps
rdate
reset
resize
route
run-parts
setconsole
start-stop-daemon
sysctl
syslogd
tar
telnet
tftp
time
top
tracer

[2017-04-10 09:48] mindThomas commented on #81
@icoderaven But "python-imaging_1.1.7.bb", which uses this patch, has been dropped in the latest meta-ros repo (see https://github.com/bmwcarit/meta-ros/issues/395#issuecomment-284385581)
I am currently trying to use the full python recipe folder from your reposity as a replacement (https://github.com/Minipada/meta-ros/tree/9e1a5a452d7d75fce81850a4fc3913751e0d712d/recipes-devtools/python)

[2017-04-10 13:19] mindThomas commented on #82
@blankered Thanks. I am now able to get the pointcloud working, but only for a few seconds. I am afraid if this error has something to do with what is also mentioned here: https://github.com/intel-ros/realsense/issues/195

[2017-04-10 14:48] lucasdemarchi opened #89 "aero-reboot-update.py not working old older releases"
On older releases /etc/os_version doesn't exist. aero-reboot-update.py parses this file to know the current version, but shouldn't block the reboot/update if the file doesn't exist.

[2017-04-10 14:56] lucasdemarchi commented on #42
@whbruce I'm thinking that this should be handled together with #43. What do you thinking of creating a morty branch and we make it from scratch? Meaning... the initial setup is just to boot the board using meta-intel, likely using the core-image-minimal.  Then we start to bring in features from the master branch.

If for next release we decide to base off 2.3, we just port to this other branch in

[2017-04-10 16:27] whbruce commented on #42
I have a couple of recommendations

- I'd like to separate using meta-intel (minor task) from changing Yocto version (major task)
- Once meta-intel is in place I propose we skip morty and go straight for 2.3 (currently master, due for release in May) as meta-intel will then have kernel 4.9LTS so gets SoC driver backports. Morty kernel 4.8 is not LTS.

[2017-04-10 16:47] lucasdemarchi commented on #42
@whbruce I wouldn't like to postpone the cleanup of layers and the way the distro is done based on "let's way the next yocto release". Releases can slip. If we wait for the release then we will delay a lot the tasks on M1. If done right, jumping from 2.2 to 2.3 should be fairly easy and take a day of work.

The way you are proposing, how long do you think it will get to have meta-intel working?

[2017-04-10 18:20] whbruce opened #91 "Update Yocto to 2.1.2"
Current OS is built by Yocto 2.1.1. Recommend move to 2.1.2 to get ~200 bug fixes and CVEs. Kernel moves to 4.4.26 but package versions remain the same so user space ABI is unchanged. This should just require changes in repo manifest to contain appropriate poky and meta-openembedded revisions.

[2017-04-10 18:27] lucasdemarchi commented on #91
This can be done. I think I have the kernel patches rebased which would be the major limitation.

[2017-04-10 20:42] mindThomas opened #92 "Include Catkin (catkin_make) in image"
Is it possible to include Catkin (ROS compiler/toolchain) in the output image such that we can compile ROS nodes/projects on the drone instead of having to cross-compile?

Catkin tools would be very beneficial or at a minimum just the possibility of using "Catkin_make" on the drone will be very usefull.

[2017-04-10 21:10] whbruce commented on #91
Good point on kernel patches. The following didn't apply.
[code]
I'll update to 2.1.2 but leave kernel at 4.4.3 for the time being.

[2017-04-10 21:11] mbelluzzo commented on #82
I think that the more correct is to add rgbd-launch to RDEPENDS on realsense_camera. We are not using the entire ros package group. That is why I think it was out of our image.

Probably ppl using/development 'meta-ros' are always using 'ros'package group so this went unnoticed by them.

Since we already have a custom patch and a custom recipe waiting for upstream to be bump, I can go ahead and tr

[2017-04-10 21:59] mbelluzzo commented on #82
@mindThomas @blankered @icoderaven mind to test if this solves the problem for you:

https://github.com/intel-aero/meta-ros/pull/3

[2017-04-11 00:05] #85 closed

[2017-04-11 01:33] lucasdemarchi commented on #89
Fixed on #90

[2017-04-11 01:33] #89 closed

[2017-04-11 01:37] lucasdemarchi commented on #92
What's the benefit of compiling on the drone rather than on our machines? For M1 we plan to have a more workable SDK, so I don't see the benefit of having it on the drone. Maybe I'm missing anything?
The image is already huge because of headers, debugs, compiler, etc. Things that should be on an sdk not the final image.

[2017-04-11 01:58] lucasdemarchi commented on #79
We will probably wait the 1.6 release of PX4 in order to close this unless it slips again.

[2017-04-11 02:00] lucasdemarchi opened #93 "WiFi failing to connect some times after boot"

[2017-04-11 03:53] lucasdemarchi commented on #25
@mindThomas Thanks for testing. We can leave #82 to track the remaining issue.

[2017-04-11 03:53] #25 closed

[2017-04-11 06:06] whbruce commented on #92
Agree with @lucasdemarchi, using SDK (preferably the extensible SDK)  is the best way forward. Ideally the eSDK can be published for others to use.

[2017-04-11 06:10] whbruce commented on #42
This will take me a day or two. I'll start with kernel 4.4.3 and update to 4.4.26 when you can add the reabsed patches.

[2017-04-11 07:56] mindThomas commented on #92
I do not agree. Being a drone intended for development and research rather than deployment, it should be as easy and quick to get started developing programs for the drone.
Keep in mind that the Intel Aero targets developers not end-users nor end-products.
That being said it is quite funny that you Intel guys apparently share the same opinion, without taking your customers (the developers/research

[2017-04-11 10:29] mindThomas opened #95 "SFTP not working"
It is not possible to connect to the drone over SFTP. Only SCP file transfers over SSH is working.
SFTP is tested with both Nautilus and Filezilla.

The OpenSSH config on the drone, located within "/etc/ssh/sshd_config" shows that the sftp server is enabled:
`Subsystem	sftp	/usr/libexec/sftp-server`
Though this binary is nowhere to be found within the drone.

Actually the only parts related to sft

[2017-04-11 14:04] lucasdemarchi commented on #92
@mindThomas this is a development repository for meta-intel-aero and whether we/you like it or not, it's Yocto Project. People are welcome to install whatever distro flavor they prefer.

As I said, having a proper SDK (which we don't have right now) should provide the tools and environment to develop it on your host machine and deploy on the drone.

Let's keep discussions on this repository techni

[2017-04-11 14:19] #93 closed

[2017-04-11 14:20] lucasdemarchi commented on #84
@majassow any update?

[2017-04-11 14:21] lucasdemarchi commented on #65
@rachelruijiayang currently there's no support for that. After milestone M1 in which this will be using meta-intel layer, there will probably be something to support that.

[2017-04-11 14:21] #65 closed

[2017-04-11 14:23] lucasdemarchi commented on #50
@avinash-palleti thanks for the list. I think the one to move right now is `top`. The others can remain as is for now.

[2017-04-11 14:24] lucasdemarchi commented on #95
Thanks. I'll take a look on what's needed to enable it.

[2017-04-11 16:16] whbruce commented on #95
Try `openssh-sftp-server`

[2017-04-11 16:18] mindThomas commented on #95
@whbruce The command is not found (not included within the Yocto build)
[code]

[2017-04-11 16:22] whbruce commented on #95
Sorry, I meant that you should add this package to the Yocto build
`CORE_IMAGE_EXTRA_INSTALL += "openssh-sftp-server"`

[2017-04-11 16:24] lucasdemarchi commented on #95
@whbruce yep, adding it.

[2017-04-11 16:53] avinash-palleti commented on #50
@lucasdemarchi "top" utility is also from procps-ng
Above patch should include "top" utility also, will confirm tomorrow after checking on final image.

[2017-04-11 17:49] whbruce opened #97 "Create custom distro"
Rather using poky distro directly but overriding behavior by setting distro variables, create a custom distro that derives from poky.  Ideas for distro name welcome. I propose `poky-aero`  to show that it's based on poky but customized for aero applications.

[2017-04-11 18:01] lucasdemarchi commented on #97
poky-aero looks good.

[2017-04-11 18:56] #95 closed

[2017-04-11 20:32] #82 closed

[2017-04-11 20:34] mindThomas commented on #82
@mbelluzzo Will be testing tomorrow. At least with 1.7.2 it stops working after a few seconds.

[2017-04-11 20:49] mindThomas commented on #92
Yes, lets indeed keep the discussion technical. We are trying hard to get some results within our own research project while being slightly frustrated of the Intel Aero platform which we expected was more "R&D polished" when released as a development drone.
But I am just happy to be able to contribute to the overall Intel Aero project by testing the latest image, using it in our daily development

[2017-04-12 02:32] avinash-palleti commented on #50
@lucasdemarchi
Following utilities are already from procps-ng after merging above patch,
free
ps
sysctl
top
watch

[2017-04-12 03:10] lucasdemarchi commented on #50
Thanks

[2017-04-12 03:10] #50 closed

[2017-04-12 16:15] whbruce commented on #91
Done. See manifest [PR #4](https://github.com/intel-aero/intel-aero-manifest/pull/8)

[2017-04-12 16:30] whbruce commented on #68
Issue #97 means we can set our own distro version (i.e. not inherit poky's version). However it will be useful to retain poky name and version. Perhaps we can use the keys VERSION_CODENAME and VERSION_ID for this purpose.

[2017-04-12 21:08] majassow commented on #84
Without QCG running, I still see the same behavior: connecting using the hosts ip address gives the "Cannot assign requested address" error, and when connecting to the broadcast address 192.168.1.255 I get no heartbeat.

[2017-04-12 22:59] edersondisouza commented on #84
Hi @majassow,

What's the IP of your computer on Aero WiFi? You should point dronekit to connect to that
IP, not Aero IP. So, if your computer is assigned, for instance, `192.168.1.2`, use that to connect.

For instance, I did a small test here and everything appears ok:

[code]

Note that in my test I've connected to aero via USB-Ethernet, but this shouldn't matter. In this case, `192.168.7.1` is

[2017-04-13 00:15] #79 closed

[2017-04-13 09:39] avinash-palleti commented on #44
100802	KiB linux-firmware
73917	KiB opencv-apps
60302	KiB gcc
36539	KiB mesa-megadriver
31581	KiB pymavlink
30161	KiB ros-mavlink
24462	KiB libicudata56
23230	KiB libopencv-imgproc3.1
18786	KiB python-tests
17392	KiB cmake
15689	KiB opencv-staticdev
15478	KiB python-numpy
14837	KiB binutils
11810	KiB kernel-firmware-shisp-2401a0-v21
10585	KiB linux-firmware-iwlwifi-8000c
10491	KiB libopencv-core3.

[2017-04-13 09:41] avinash-palleti commented on #44
@lucasdemarchi Above is the list of packages and size in final image

[2017-04-13 17:55] lucasdemarchi commented on #68
where would we put our own version? Like... now is 1.2, next is 1.3, 1.4 and so on. We need to be able to reference this number.

[2017-04-13 19:13] whbruce commented on #68
Yes, you can still have your own version. Config file would look something like this. Look at PR #100 for variable values, they are in `conf/distro/poky.aero.conf`.

NAME="${DISTRO}"
VERSION="${DISTRO_VERSION}"
VERSION_CODENAME="${DISTRO_CODENAME}"
VERSION_ID="${POKY_VERSION}"
PRETTY_NAME="${DISTRO_NAME}"

[2017-04-14 00:00] whbruce commented on #44
There are some developer tools and libraries in there; gcc, make, cmake, *-dev packages etc. I advise that you create two images, one with developer tools and one without. Build SDKs against images without developer tools otherwise you'll get unnecessarily large installers. SDKs will never use tools "in" the image as an SDK toolchain is built as a separate task and included in the installer.

The

[2017-04-14 00:11] lucasdemarchi commented on #44
@whbruce agreed. I also think linux-firmware got bloated on the last release when we updated the iwlwifi. It's bringing all the unnecessary firmwares with it.

[2017-04-14 02:17] #78 closed

[2017-04-14 02:22] lucasdemarchi commented on #47
I just updated several wiki pages to give instructions on  the  new update procedure, disambiguate and correct some phrases. The page about using pymavlink/dronekit I think needs to be redone, so I deleted it.

@guermonprez we use mavlink-router instead of mavproxy. C and python examples on how to communicate with the flight stack are available on that repo. An example with dronekit there would be

[2017-04-14 02:22] #47 closed

[2017-04-14 03:31] #42 closed

[2017-04-14 15:48] majassow commented on #84
I can connect, but only to the local vehicle.  After some investigation it appears that dronekit does not handle multiple vehicles, which is what I'm attempting.
I will investigate this [dronekit fork](https://github.com/peterbarker/dronekit-python/blob/source-system-filtering/examples/multivehicle/multivehicle.py) and see if it helps, or alternatively go back to using pymavlink directly.

[2017-04-14 15:48] #84 closed

[2017-04-14 21:46] majassow opened #102 "opkg repository location?"
Is there an opkg repository for Intel Aero?

[2017-04-14 22:59] lucasdemarchi commented on #102
This is not currently available, but should be for the next release. We are settling on which package manager to use. See #46

[2017-04-14 22:59] #102 closed

[2017-04-14 23:06] whbruce commented on #102
Note that Intel Aero currently uses rpm packaging, not ipk.

[2017-04-17 04:50] rmackay9 opened #104 "include the latest bios's .rpm file on the .iso"
In the current instructions, the user must download the BIOS's .rpm file and the install it:
https://github.com/intel-aero/meta-intel-aero/wiki/02-Initial-setup#flashing-the-bios

This step could be greatly simplified if the .rpm file was included in the .iso image.  Then the user could at least skip the copy-to-the-vehicle part of it which is actually the most difficult part.  The .rpm file is no

[2017-04-17 05:08] rmackay9 opened #105 "wiki: slightly re-order the 02-Initial-setup wiki instructions's Flashing section"
The 02-initial-setup wiki page could be more clear by doing this:

- after the "To summarize:....4. .px4 for Flight controller" lines, start the "Flashing the BIOS" section.
- the lines from "Go to download.." to "On windows, open Win32 Disk Imager and check.." should be moved to the "Flashing Intel Aero Linux Distribution" section.
- the "Change to Wifi client to have internet access" is not real

[2017-04-17 05:30] rmackay9 opened #106 "wiki: flashing-the-bios should say how to get the .rpm file on the vehicle"
Ahead of this other enhancements being completed (https://github.com/intel-aero/meta-intel-aero/issues/104), it would be nice to give more specific instructions on where to download the .rpm file from and how to copy it to the vehicle in the "flashing the bios" section (https://github.com/intel-aero/meta-intel-aero/wiki/02-Initial-setup#flashing-the-bios).

To be more specific:

- under "Flashing

[2017-04-17 07:13] rmackay9 opened #107 "aero RTF hardware: add current sensing"
It would be nice if we could monitor the current flown on the vehicle.  Voltage is OK but current is also important for things including improving our estimate of battery capacity.

[2017-04-17 07:43] rmackay9 opened #108 "wiki: add "ArduPilot" along side "px4""
ArduPilot should be added alongside "px4" in a few places on the [02-Initial-setup](https://github.com/intel-aero/meta-intel-aero/wiki/02-Initial-setup) page:

- "if you do PX4 development" should become "if you do PX4 or ArduPilot development"
- "px4 for the Flight Controller" should become "px4 or ArduPilot for the Flight Controller"
- "Instructions for flashing ArduPilot" are going to be provid

[2017-04-17 11:55] lucasdemarchi commented on #107
We have ADC channels available for that, but there's no pin from the power module with this.

[2017-04-17 11:55] #107 closed

[2017-04-17 12:09] guermonprez commented on #108
hello

For now, px4 is supported and provided by intel in the official release so I would not present both as equal choices in the doc.
I added ardupilot as a note after px4 mention and as an ecosystem partner. "(By default Intel is proposing and supporting px4 on Aero Flight Controller, but ArduPilot.org has documented the flashing procedure for ArduPilot)."

Randy: for your page. the password fo

[2017-04-17 12:55] guermonprez commented on #106
hello

indeed. I clarified the download instructions and the usb mounting commands.
download : "Where to get the files: downloadcenter.intel.com page to download the .rpm UEFI-BIOS file and .iso linux image."

flash : "Get an empty USB thumb drive, format it as FAT32 from your workstation and copy the rpm file you got from the download center (link) on it.
Plug it on aero and type the following co

[2017-04-17 12:56] #108 closed

[2017-04-17 12:56] #106 closed

[2017-04-17 13:19] guermonprez commented on #105
I clarified the structure: what is needed, then flashing each part of the RTF, then a foot note about the next steps including a link to the wifi. wifi is not part of a new sysadmin page.

[2017-04-17 13:19] #105 closed

[2017-04-17 14:38] guermonprez opened #109 "scripts: add launcher script for gstreamer-QGroundControl"
While we wait for a future multi streaming solution,
we could include a script in the image for the gtreamer-qgroundcontrol
command (it is part of the typical drone demo):

gst-launch-1.0 v4l2src  device=/dev/video13 do-timestamp=true \
    ! video/x-raw, format=YUY2, width=640, height=480, framerate=15/1 \
    ! autovideoconvert ! vaapih264enc ! rtph264pay \
    ! udpsink host=192.168.8.2 port=56

[2017-04-17 17:05] icoderaven commented on #92
As a purported developer end-user, I would like to chime in and mention how frustrating it is to set up the entire paraphernalia to get this foreign build system (yocto) setup. What I would prefer to have is an ubuntu install on which I can natively compile code. As @mindThomas mentions, however, this is not useful if one can't use the RealSense camera (which to me seems odd; there should be a str

[2017-04-17 18:04] lfelipe commented on #92
@icoderaven @mindThomas We hear you, understand and greatly appreciate your feedback, and please believe me when I say that we are bringing this feedback to others here so that we can continuously try to improve on the project.

With that said, unfortunately we cannot provide support for Ubuntu at this specific repository as it is meant for the default image that gets shipped with Intel Aero and t

[2017-04-17 18:59] icoderaven commented on #92
Thanks for the feedback! I look forward to being able to use catkin_tools! That will make life much simpler for me!

I understand re: this being a Yocto project, and to be fair, I do see some of the advantages. I've gone through the learning curve and have set up a build system accordingly where I cross compile, build my package, push it to the device, uninstall the previous rpm, and then install

[2017-04-17 19:16] lucasdemarchi commented on #109
That's around the corner so I don't want to add it just for being removed before a release. If for next release (v1.4 since v1.3 is already "closed") for some reason camera-streaming is not merged, we can add one.

[2017-04-17 19:16] #109 closed

[2017-04-17 19:16] #91 closed

[2017-04-17 20:30] #97 closed

[2017-04-17 20:30] #68 closed

[2017-04-17 20:37] lucasdemarchi commented on #16
I didn't have these disconnects anymore so closing this. We can re-open it again if needed.

[2017-04-17 20:37] #16 closed

[2017-04-17 20:37] lucasdemarchi commented on #17
I didn't have these connects anymore on the latest release, so closing this.

[2017-04-17 20:37] #17 closed

[2017-04-17 20:39] lucasdemarchi commented on #13
Should be solved in the latest release.

[2017-04-17 20:39] #13 closed

[2017-04-18 00:01] turnersr opened #111 "Release of OS Image for v1.2"
Hello,

Is it possible to please upload the relevant OS Image and BIOS Binary/Capsule for v1.2 to the Intel Download Center?

Thank you! :)

[2017-04-18 00:04] lfelipe commented on #111
We're doing final round of validation and will be posting it there soon. There have not been any changes made to the BIOS though so you are looking at simply a new iso file.

[2017-04-18 00:19] turnersr commented on #111
That's awesome! Are you all going to release a complete example of the build using sources, too?

I've been trying to wrap my head behind the build system. I understand simple examples, but when I have to bring together all the repos and the other dependencies it is really hard to manage all the meta layers. Do you all think you could put everything in one place for each release so folks can simpl

[2017-04-18 00:29] lucasdemarchi commented on #111
@turnersr unless you want to edit the recipes, you don't actually need to build everything.

If you do want to build everything, the workflow is to use repo tool (see https://source.android.com/source/downloading on how to download the tool).

[code]

[2017-04-18 00:31] lucasdemarchi commented on #111
@turnersr You can also download an image from our CI. This is probably what will become v1.3... if we don't have more bug reports:
http://ec2-52-59-242-235.eu-central-1.compute.amazonaws.com:8080/job/aero-build-master/385/

Click on the iso file there to download

[2017-04-18 02:33] #111 closed

[2017-04-18 07:56] avinash-palleti commented on #44
@whbruce

i tried to cherrypick only required firmwares to reduce the size. I created bbappend file for linux-firmware as suggested in below link,

http://yocto.yoctoproject.narkive.com/9VXfWQoF/installing-only-part-of-linux-firmware

But i am getting below error,
ERROR: linux-firmware-1_0.0+gitAUTOINC+c555311c5a-r0 do_package: QA Issue: linux-firmware-iwlwi                 fi-8000c is listed in P

[2017-04-18 13:27] mindThomas commented on #82
Confirmed working with the latest build now including v1.8.0
But the framerate of the registered pointcloud seem to be dropping right after the node is started. After a while it does not seem to publish anything.
Do we have a memory problem?

[2017-04-18 22:20] majassow opened #114 "Bitbake with meta-intel-aero-1.2 fails: DISTRO poky-aero not found"
I've downloaded and unpacked the meta-intel-aero-1.2 content into my poky directory and now bitbake complains that the OE-core sanity checker detected a misconfiguration....DISTRO 'poky-aero' not found.

I note that the original local.conf references just 'poky' not 'poky-aero'.

Are there other changes I need to make other than just unpacking the new meta-intel-aero recipes into the poky director

[2017-04-19 02:25] lucasdemarchi commented on #114
You should be using the manifest to control what layers are enabled.

[2017-04-19 02:26] lucasdemarchi commented on #114
https://github.com/intel-aero/meta-intel-aero/issues/111#issuecomment-294635619 has the commands.

[2017-04-19 02:29] lucasdemarchi opened #115 "Migrate custom init scripts to systemd .service"
All of our init scripts should install a systemd's .service file if we choose systemd as the init system.  This is a step towards changing the init.

[2017-04-19 02:33] lucasdemarchi commented on #43
First step is to move recipes from meta-intel-aero-connectivity to meta-intel-aero. @avinash-palleti can you take a look on this?

[2017-04-19 02:33] lucasdemarchi commented on #115
@avinash-palleti can you take a look on this?

[2017-04-19 03:38] whbruce commented on #115
@avinash-palleti, I can help.

[2017-04-19 03:41] avinash-palleti commented on #115
@lucasdemarchi will look into it.
@whbruce Thank you :)

[2017-04-19 03:41] avinash-palleti commented on #43
@lucasdemarchi, i will look into it

[2017-04-19 04:40] avinash-palleti commented on #43
@lucasdemarchi, Can you check above patch. If it is Ok, i will send pull request.

I have kept recipes and bbappend files as it is into intel-aero. If required we can merge bbappend into original recipe files as well. for eg. images.bbappend from connectivity can be merged in images.bb of intel-aero.

[2017-04-19 06:01] avinash-palleti commented on #115
There are two ways of choosing initialization manager,
http://www.yoctoproject.org/docs/1.6/dev-manual/dev-manual.html#selecting-an-initialization-manager

I think we should go with second one where systemd is used for main image and sysvint for rescue image.

[2017-04-19 07:28] lucasdemarchi commented on #43
images.bbappend can probably be removed and merged into images.bb.

I didn't do the diff, but if you copied the files from their current location to meta-intel-aero, it's probably correct.

What still need to be done:

1. remove meta-intel-aero-connectivity from the manifest
1. add a commit to meta-intel-aero-connectivity doing the following:
    * remove everything
    * add a README.md saying co

[2017-04-19 07:31] lucasdemarchi commented on #115
I think I prefer the first one:

[code]

Unless there's a drawback I'm not seeing... we don't use a rescue image anyway.

[2017-04-19 07:32] lucasdemarchi commented on #115
@avinash-palleti remember that we will only be able to do that after the .service files for our custom init have been created. And after we have conducted several tests.

[2017-04-19 08:17] mindThomas commented on #92
@lfelipe Please see the following post with our latest issues we ran into when trying to get the RealSense camera working with Ubuntu 14.04 on the Intel Aero: https://github.com/IntelRealSense/librealsense/issues/444#issuecomment-287767248

[2017-04-19 09:00] lucasdemarchi commented on #92
Humn... Is this the RTF or you are connecting a realsense camera with an OTG cable?

[2017-04-19 09:02] lucasdemarchi commented on #92
Last time I checked R200 should work on stock kernel after 4.8

[2017-04-19 09:09] mindThomas commented on #92
@lucasdemarchi It is the RTF drone, hence with the R200 connected over the "special" USB 3.0 cable.

[2017-04-19 09:13] lucasdemarchi commented on #92
And you are running Ubuntu with which kernel?

[2017-04-19 09:58] mindThomas commented on #92
We have tried with both Ubuntu 14.04 and then we tried with Ubuntu 16.04 of which we downgraded the kernel 4.4.

[2017-04-19 14:51] avinash-palleti opened #117 "Packages to remove"
There are few packages which can be removed from the build. For example
recipes-core/images/intel-aero-image.bb  has opkg & opkg-utils

Lets keep the possible packages list to remove.

[2017-04-19 15:00] avinash-palleti opened #118 "Update modem-enable to use to rc-update"
recipes-support/modem-enable/modem-enable.bb recipe file has below lines,

    install -d ${D}${sysconfdir}/init.d/
    install -d ${D}${sysconfdir}/rc0.d/
    install -d ${D}${sysconfdir}/rc1.d/
    install -d ${D}${sysconfdir}/rc2.d/
    install -d ${D}${sysconfdir}/rc3.d/
    install -d ${D}${sysconfdir}/rc4.d/
    install -d ${D}${sysconfdir}/rc5.d/
    install -d ${D}${sysconfdir}/rc6.d/

[2017-04-19 15:00] avinash-palleti commented on #118
See: http://www.yoctoproject.org/docs/1.8/ref-manual/ref-manual.html#var-INITSCRIPT_PARAMS and http://www.yoctoproject.org/docs/1.8/ref-manual/ref-manual.html#var-INITSCRIPT_NAME and http://www.yoctoproject.org/docs/1.8/ref-manual/ref-manual.html#ref-classes-update-rc.d

[2017-04-19 16:30] whbruce commented on #115
I recommend you use appropriate version of Yocto docs. i.e.
http://www.yoctoproject.org/docs/2.1/dev-manual/dev-manual.html#selecting-an-initialization-manager

[2017-04-19 17:10] whbruce commented on #118
A couple of things
1. This seems at odds with moving to systemd (#115)
2. Refer to appropriate version of documentation (i.e. 2.1)

[2017-04-19 22:51] icoderaven commented on #82
Works for me too. Stable 60Hz at default settings. Now if only I could get MAVLink to work...

[2017-04-19 23:01] lucasdemarchi commented on #82
@icoderaven can you open an issue with details on what's not working?

[2017-04-19 23:32] icoderaven opened #119 "How do I connect mavros on the RTF"
Hi

I'm trying to connect to the PX4 firmware on the RTF drone using mavros, but I do not know what port to connect to. These are the things I've tried

Stopping mavlink-router using
/etc/init.d/mavlink-routerd.sh stop
and then trying to run mavros on /dev/ttyS1:921600

Trying to run mavros on udp://@:14556

Trying to connect using DroneCode on the aero drone using
from dronekit import connect, Ve

[2017-04-19 23:40] lfelipe commented on #119
@icoderaven, on your first attempt (killing mavlink-routerd and then trying to connect directly to /dev/ttyS1), the baudrate should not be 921600 but 460800. That is assuming you've updated PX4 recently (since you're using a recent BSP release it looks like you should).

Trying to run mavros on udp://@:14556 -> this should likely be 14550

On the dronekit questions, if they are running on the aero

[2017-04-19 23:59] icoderaven commented on #119
I had not updated PX4 recently, but just did (ran aerofc_update.sh /etc/px4-fw/nuttx-aerofc-v1-default.px4)

Trying a baudrate of 460800 (or 921600) after stopping mavlink-routerd gives me an error
serial0: receive: End of file

Running with the udp port 14550 starts the node, but doesn't connect over mavlink.

dronekit connection attempt with tcp:127.0.0.1:14550 gave me a
socket.error: [Errno 111

[2017-04-20 00:19] lucasdemarchi commented on #119
You also need to update the FPGA (although not related to your problem)

[2017-04-20 00:21] lucasdemarchi commented on #119
Can you post your `/etc/mavlink-router/main.conf` file?  @edersondisouza can you point to a dronekit sample?

[2017-04-20 00:22] edersondisouza commented on #119
Hi @icoderaven,

Locally on Aero, you can connect with dronekit using:

[code]

If you want to connect using UDP, then you need to add a new endpoint, for instance, create a file on `/etc/mavlink-router/config.d/local-udp.conf`, containing:

[code]

Finally, if nothing works, could you provide us your mavlink-router log file, on `/var/log/mavlink-routerd.conf`?

[2017-04-20 00:56] icoderaven commented on #119
Oh wait, the dronecode example works on a complete restart, before I source the ROS setup, but it doesn't after sourcing the ROS setup script! In addition, after sourcing the ROS python path, the import command displays an additional statement
Using MAVLink 1.0

Could it be that there are conflicting mavlink libraries between the ROS packages and the system installed ones?

Also, how do I connect

[2017-04-20 06:52] lucasdemarchi opened #120 "Add crda package to enable WiFi on 5GHz"
crda package is not installed so no regulatory domain changes are not allowed. I **think** this is the reason why we can't go into 5GHz.

See frequencies marked as "(no IR)"

[code]

Checking the regulatory domain:

[code]

Trying to set it with `iw reg set US` doesn't actually set it.

[2017-04-20 07:02] mindThomas commented on #82
@lucasdemarchi Did you see my problems with the framerate?

[2017-04-20 10:22] avinash-palleti commented on #118
@lucasdemarchi
Shall we move this temporarily to use update-rc until we migrate to systemd ?

[2017-04-20 15:49] lucasdemarchi commented on #118
@whbruce this is a small change that will help with the systemd (init files won't be installed when choosing systemd as the init).  If we can go to systemd without having this as an intermediary step, I'm fine skipping it.

[2017-04-20 16:29] whbruce commented on #118
Understood. Stick with your plan.

[2017-04-20 17:55] turnersr opened #122 "Power down issues in Aero RTF using latest update"
Hello,

I updated the RTF drone using [CI build](http://ec2-52-59-242-235.eu-central-1.compute.amazonaws.com:8080/job/aero-build-master/lastSuccessfulBuild/artifact/poky/build/tmp/deploy/images/intel-aero/intel-aero-image-intel-aero-20170420164020.iso) . When I go to turn off the drone using the power button nothing happens.

I expect that I would see some indication that shutdown is occurring, bu

[2017-04-20 19:20] lucasdemarchi commented on #122
Were you able to successfully updated or does this happen with the updated version?

[2017-04-20 19:31] turnersr commented on #122
I successfully updated and even got some code to run that uses the depth camera. I was able to see the results through my attached monitor.

[2017-04-20 19:58] lucasdemarchi commented on #122
There's nothing I can see here that would handle the power switch. Did you also update the bios? I think this is handled there rather than on the OS level. I'll take a look on it.

[2017-04-20 20:32] lucasdemarchi commented on #122
Ok, found it.  The  power down request does come via bios, but we are not handling it correctly on v1.3. We were on v1.2. I'll fix it today. Thanks.

[2017-04-20 21:40] #122 closed

[2017-04-21 22:28] whbruce commented on #43
Ideally hardware specific (i.e. BSP) recipes should be moved to a separate layer.

[2017-04-23 05:13] rachelruijiayang commented on #119
icoderaven posted here as well: https://communities.intel.com/thread/113405

I have the same problem; I'm not sure what command to run to get MAVROS to connect to the FCU's MAVLink stream.

Here is my **/etc/init.d/mavlink-routerd.sh**:
[code]

**/etc/mavlink-router/main.conf:**
(In https://github.com/01org/mavlink-router/issues/67, you say that you tested master branch with (basically) the follow

[2017-04-23 05:32] icoderaven commented on #119
Huh. This looks like it *is* connecting! I'll try it on my RTF tomorrow.
Hmm. Seems like the PX4 firmware is not responding to the MAV_CMD::REQUEST_AUTOPILOT_CAPABILITIES message.
Off the top of my head, two possibilities could exist
a. The connection is only one way, i.e. since we're accessing over UDP, we're somehow not able to send messages up via the mavlinkrouterd
b. The mavlink dialects/vers

[2017-04-23 05:52] lucasdemarchi commented on #119
2 mistakes here:
- if mavros is talking directly via uart, you shouldn't have mavlink-router running
- baudrate is wrong... After updating the Linux image, did you update the px4 firmware as well? If so baudrate should be 460800

If you want mavros to go through mavlink-router (because you are using mavlink directly for other things, too) then your second approach is correct

[2017-04-23 05:54] lucasdemarchi commented on #119
Dunno exactly what mavros is doing here, but as per your mavlink-router config, it's sending data on port 14550, not 14555

[2017-04-23 05:58] lucasdemarchi commented on #119
Disregard this. It's a harmless warning that has been fixed on mavlink-router (and is available on version 1.3.1 of the BSP ir master branch

[2017-04-23 18:47] icoderaven commented on #119
a. I'm already on the 1.3.1 branch (a336a906566de718eac41a7a0800b3f056cbafd6). get_intel_aero_version.py says
[code]
b. I get the same output as @rachelruijiayang on port 14555, nothing on 14550.
c. I could not get mavros to talk over ttyS1 directly even after stopping mavlink-router.
[code]

I don't really care for mavlink router, I just want my tty connection to the autopilot. How do I get that?

[2017-04-23 19:23] cnpcshangbo opened #125 "Broken link on calibration procedures"
The [QGroundControl](https://github.com/meta-intel-aero/wiki/03-First-flight#qgroundcontrol) link on page
https://github.com/intel-aero/meta-intel-aero/wiki/02-Initial-setup#flashing-the-flight-controller-rtf-only
doesn't exist anymore.

[2017-04-24 19:01] jckchow opened #126 "Build Error: Airmap-1.8-r0"
I am having issues building the latest Intel Aero Image (version 1.3) from source. I followed the Quick Start Guide and got stuck with the following error with not much information from the log:

[code]

[2017-04-24 19:27] lucasdemarchi commented on #126
Are you building the BSP on a raspberry pi??? This is not supported.

[2017-04-24 19:28] lucasdemarchi commented on #125
Fixed, thanks.

[2017-04-24 19:28] #125 closed

[2017-04-24 19:33] whbruce commented on #126
If you had already built an image then updated to 1.3 and re-built in the same workspace this error may have been caused by the change in MACHINE configuration. See PR #98 for details on workarounds.

[2017-04-24 19:36] jckchow commented on #126
I'm actually building a fresh image on Ubuntu. I think I found the issue, in the Makefile it is missing the "clean: ". I added that manually to the Makefile and it seems to be working now on Ubuntu 14.04.

[2017-04-25 08:30] avinash-palleti commented on #117
@lucasdemarchi Shall i go ahead and remove those packages

[2017-04-25 12:59] mindThomas opened #127 "Update Mavros to v0.18.x to get MAVLink 2 for logging with ULogger"
Due to the old version of Mavros supplied within the meta-ros layer one can not do any logging of the PX4 data using the Ulogger at the same time as running Mavros on the drone.
This limits any possibility in doing logging of automated drone behaviour through ROS, as this would require both Mavros and Ulog to run at the same time.

I have tried to do some of the changes in meta-ros myself, pulling

[2017-04-25 13:58] lucasdemarchi commented on #117
Yes, please

[2017-04-25 15:37] mindThomas commented on #119
@icoderaven Same problem here, also getting `End of file`

[2017-04-25 15:38] mindThomas commented on #119
@icoderaven Same problem here, also getting `End of file`

[2017-04-25 15:40] lucasdemarchi commented on #119
Note you also need to checkout the right manifest. The aero-get-version.py output says you're still on 1.3.0

[2017-04-26 07:12] mindThomas commented on #81
OBS. Trying to build today with the master manifest this problem appears again.
The problem was solved by putting in the python-imaging recipe into meta-ros and by applying the patches as found here: https://github.com/Minipada/meta-ros/tree/9e1a5a452d7d75fce81850a4fc3913751e0d712d/recipes-devtools/python/python-imaging

[2017-04-26 15:22] icoderaven commented on #81
Yeah, likewise.

[2017-04-26 16:10] icoderaven commented on #119
Ok, pulled a completely new repo, from your tagged manifest.
`repo init -u https://github.com/intel-aero/intel-aero-manifest.git -m v1.3.1.xml -b refs/tags/v1.3.1`

get_aero_version.py says
[code]
Still the same issue.
@mindThomas Mind telling me how you got the old mavlink bridge to work?

[2017-04-26 17:06] #120 closed

[2017-04-26 17:06] #118 closed

[2017-04-26 20:07] mindThomas commented on #119
@icoderaven We have been using the following mavlink_bridge.py script which have now been removed from the image though: https://github.com/intel-aero/meta-intel-aero/blob/80eb214cfde239171d40daba508372176c2168bb/recipes-core/initscripts/initscripts/mavlink_bridge.py
Though with the updated PX4 firmware the baud rate has been changed to 460800 so you would need to change line 10 to reflect this.

[2017-04-26 22:20] AeroChen commented on #119
Hi, I did something that worked for me at the moment:
[(https://communities.intel.com/thread/113796)]

Can you guys check if this works for you too?

[2017-04-26 22:27] icoderaven commented on #119
Eeee! @AeroChen that works for me! I'm a happy panda. Would love this to be fixed properly though. I'm off to collect data!

[2017-04-26 23:08] lucasdemarchi commented on #119
@AeroChen thanks!

So... it's probably that mavros is not fully configuring the tty, so it doesn't work depending on what was configured that before.

We can do 2 things here:
1) Fix mavros
2) make mavlink-router to put the tty back into raw state when it exits

[2017-04-26 23:10] icoderaven commented on #119
I would very much prefer option 2. We have a lightweight mavlink C++ ROS client that we use internally as well, and having raw tty access will be great!

[2017-04-26 23:12] mbelluzzo commented on #119
If booting without mavlink-router on startup I'm able to run roslaunch tapping directly on the serial but:

rostopic echo /mavros/state returns:
[code]
and /mavros/imu/data returns nothing :-(

after startup without mavlink-router running at all:
*stty -F /dev/ttyS1*
after boot:
[code]

with mavros running:
[code]
after stop mavros:
[code]
Rebooting with Mavlink-router ON:
[code]
Stopping mav-rout

[2017-04-26 23:21] lucasdemarchi commented on #119
I mean... we should do both.  If your client can't bring the tty back from whatever state it was to a working state, it has the same bug as mavros has.

Making mavlink-router to put the ttyS1 into "raw mode" is only a palliative measure so the bug on other programs is not exercised

[2017-04-26 23:24] mbelluzzo commented on #127
As far I could check, even with 17.05 we are using mavlink 2.0 in terms of wired-protocol (mavros build properly detect this and sets -DMAVLINK2_COMPAT). Do I don't think the problem is because of the version of mavlink itself, but if is something else (or mavlink 2.0 is not about wired-protocol) can you share the commit on mavros that fix this issue so we can see what we can do if ppl on meta-ros

[2017-04-26 23:26] lucasdemarchi commented on #119
@mbelluzzo from your input... what happens if before this step:

you do:

`stty -F /dev/ttyS1 onlcr`

can you also send the output of stty after mavproxy runs on /dev/ttyS1?

[2017-04-27 00:41] icoderaven commented on #119
Fair enough, I was holding off on getting our client to cross compile until I could get mavros to run ^_^ I agree, though.

[2017-04-27 01:10] lucasdemarchi commented on #119
`stty -F /dev/ttyS1 min 1`

This is the command you need to run before your client/mavros to get it to work (or fix them so they do the right thing). Just from running strace on mavros it looks like it doesn't configure anything if the speed was already the same speed it should be. I.e. it ignores all the other settings it should set.

[2017-04-27 01:12] lucasdemarchi commented on #119
I'm adding some changes to mavlink-router to try to play nice with other programs, too.

[2017-04-27 03:21] lucasdemarchi commented on #119
And here is the PR to mavlink-router: https://github.com/01org/mavlink-router/pull/77

[2017-04-27 06:38] toashwin opened #131 "Older Version instead of 1.3.1 on the download page"
Hi
Observing 3 issues on the 1.3.1 download page:

Issue 1)
When I try to download the latest ISO.. I am getting Version 1.00.4 instead of 1.3.1.
The page I was download is:
https://downloadcenter.intel.com/download/26748/Intel-Aero-Platform-for-UAVs-Installation-Files?v=t

The md5sum expected is:
9623a8f81a81687b41038b677eaddd7c
But I get:
7cdb1fb4ac945e204c9ba85eaac1c9fb

Issue 2) I see that the

[2017-04-27 08:04] mindThomas commented on #119
I have just tried this PR without any success.

When starting the mavlink-routerd it does not seem to work. I get the following output:
[code]

And when starting Mavros using the following command, there seem to be no connection:
[code]

Output of "stty -F /dev/ttyS1" is:
[code]

[2017-04-27 08:07] mhkabir commented on #127
@mbelluzzo I'm one of the developers of mavros. The current version of mavros + mavlink you ship does not have mavlink 2.0 support. It came in only in 0.18.0 : https://github.com/mavlink/mavros/releases/tag/0.18.0

Therefore our mavros proxy implementation cannot route Mavlink 2.0 packets and the ULog streaming does not work. You would also need to update the version of mavlink to the latest one t

[2017-04-27 08:47] lucasdemarchi commented on #119
@mindThomas we are talking about connecting mavros directly to the ttyS1, not via mavlink-router. The change in mavlink-router is to keep they ttyS1 in a state that the current version mavros is able to recover.

[2017-04-27 08:48] lucasdemarchi commented on #119
The fact that when you stopped mavlink-router the tty configuration changed to "speed 1200 baud" and "min = 1" means that PR worked for what it was proposing to do.

[2017-04-27 08:50] vooon commented on #127
And more specific: `MAVLINK2_COMPAT` do not enable v2 parsing, it is fix v1 API changes introduced with v2 release. So it allow to use fresh mavlink package with 0.17 version.
Routing of v2 only possible in 0.18 (Kinetic) and up. You should be able to build it on Indigo, but you need mavlink from Kinetic.

[2017-04-27 08:54] lucasdemarchi commented on #127
@vooon mavlink and pymavlink, right (since now you are using C++11 generator)?

[2017-04-27 09:10] vooon commented on #127
[mavlink-gbp-release](https://github.com/mavlink/mavlink-gbp-release) ship both. You may place `release/kinetic/mavlink` branch at workspace and do `catkin build`. CMake uses Python 2, so you need to install dependencies first. Most bugs come from `future` (setup.py imports pymavlink, it imports future and pip for some reason reads requirements.txt after setup).

[2017-04-27 09:12] mindThomas commented on #127
But that would still not allow Mavros to be used together with flight logs being logged with ULogger.

[2017-04-27 09:18] lucasdemarchi commented on #127
You would need to make ulogger to talk to mavros.

Or when we bump the version and figure out the problem of talking via TCP/UDP  you can put mavlink-router as the only one using ttyS1 since it has embedded ulog support.

[2017-04-27 09:19] vooon commented on #127
Why? Mavros 0.18 should route v2 without a problem.
Except that mavros itself do not support packet signing, but routing may work (code for signature handling exists, untested).

[2017-04-27 09:48] icoderaven opened #132 "Custom Firmware: How to increase streaming rate?"
Hi

So I finally got around to compiling my own firmware from master and flashing it on to the STM32. However, my usual hack of changing the streaming rate in src/modules/mavlink_main.cpp is not having the desired effect (e.g. I can only push the HIGHRES_IMU stream to ~30Hz), and nor is trying to change the mavlink start command in the rcS helping.

Is there a config file that overrides the mavlin

[2017-04-27 11:33] mindThomas commented on #127
Exactly. But that would require Mavros 0.18.
The version is 0.17.5 right now, so even by using `release/kinetic/mavlink` of https://github.com/mavlink/mavlink-gbp-release it wouldn't work.

[2017-04-27 12:48] mindThomas commented on #119
You are right and your PR definitely works in this regard.
I can confirm that I, with the help from your script, is able to "deinitialize" the UART port into such a mode that it is possible for Mavros to open it.
[code]

But if I start the mavlink-routerd I get:
[code]

And if I then in another terminal try to launch Mavros connecting to the port opened by mavlink-router it does not work:
[code]
P

[2017-04-27 15:15] lucasdemarchi commented on #132
@icoderaven I guess this is more a question to the PX4/Firmware repository. In `ROMFS/px4fmu_common/init.d/rcS` you can see what's the limit for the 460800 baud rate:

[code]

Due to the logger using a lot of the bandwidth, it is more limited for the other things.

But as I said, let's discuss this on PX4/Firmware rather than here.

[2017-04-27 15:15] #132 closed

[2017-04-27 15:16] lfelipe commented on #131
Thanks for reporting this, there was a leftover link that had not been updated (but the download button on the left already had the correct one).

Correct link is: https://downloadmirror.intel.com/26748/eng/intel-aero-image-intel-aero.iso

This has now been fixed on download center.

[2017-04-27 15:16] #131 closed

[2017-04-27 18:04] majassow opened #133 "Can't update px4 firmware with 1.3.1"
Upgraded to 1.3.1.
If I run aerofc-update.sh nuttx-aerofc-v1-default.px4 I get the following output:

BIOS_VERSION = Aero-01.00.12A_Prod
OS_VERSION = Poky Aero (Intel Aero Linux Distro) 1.3.1 (krogoth)"
AIRMAP_VERSION = 1.8
FPGA_VERSION = 0xff

Updating firmware on AeroFC
==========================================================================================================
WARNING: You should

[2017-04-27 19:07] lucasdemarchi commented on #133
First of all you need to update the FPGA. It shouldn't cause this problem, but it should be updated nonetheless.. after that you will see the FPGA version set to 0xc.

Is the flight stack running on the flight controller? What is its version? Can you communicate with it using mavlink_shell?

If you have updated before to a broken version you can force to enter in bootloader mode:
1) flash the reco

[2017-04-27 19:08] lucasdemarchi commented on #133
Don't bother with removing  modemmanager. That warning is bogus

[2017-04-27 20:08] mbelluzzo commented on #127
I will work on bump mavros version all way to 0.18.7 and update
mavlink-gbp-release to use kinetic. If it happens that we just need to keep
some custom recipes while those are not bumped on meta-ros upstream, we
will do that. If not, I post here whatever is going wrong for ideas on what
can be done.

On Thu, Apr 27, 2017 at 4:33 AM, Thomas Jespersen <notifications@github.com>
wrote:

[2017-04-27 21:16] mindThomas commented on #127
@mbelluzzo Fantastic. I will await your results and hopefully good news.
Any ETA? Are you working on this problem right now (at the moment) or is it a postponed task?

[2017-04-27 23:14] majassow commented on #133
Thanks!
OK.  Did that.  px4 is now updated.
I have recalibrated Accel, Gyro, but compass calibration fails.
It seems to be working fine, detecting each orientation, but after the last orientation it immediately complains about a sensor failure: mag0.

Here is the output from mavlink-shell:
nsh> sensors
INFO  [sensors] usage: sensors {start|stop|status}
nsh> sensors status
INFO  [sensors] gyro stat

[2017-04-27 23:17] lucasdemarchi commented on #133
[code]

Do you have the external mag connected?  It looks like it's not there.  I think this issue should be moved over to PX4 repository and we continue discussing there.

[2017-04-28 00:25] mbelluzzo commented on #127
ros-mavlink is already compiling with kinetic version and worked my way to make yocto pick my mavros recipe (0.18.7). A mistaken priority setting was on the way but I fixed. Now I need to properly update my 0.18.7 recipes with the correct checksums etc and hope for the best during compiling, but this will tomorrows task cause I have to leave.

[2017-04-28 22:43] mbelluzzo commented on #127
Is working, going to send pull requests in a few :-)

rostopic echo /mavros/imu/data
[code]

[2017-04-28 22:51] mhkabir commented on #127
Looks good :)

[2017-04-28 22:55] mindThomas commented on #127
Can you please try this with the Syslogger functionality (Ulog) by launching/using the GCS bridge functionality of Mavros.
After enabling the bridge you will have to use/test the Python script: mavlink_ulog_streaming.py
Please see: https://github.com/mavlink/mavros/issues/663

[2017-04-29 12:21] vooon commented on #127
FYU: I plan to release mavlink and mavros 0.19 at 5/5/2017. (i'm bored with high patch number, signing moving to 0.20).

[2017-04-29 19:37] lucasdemarchi commented on #127
@voon thanks for the heads up.

[2017-05-01 18:12] mbelluzzo commented on #127
@mindThomas

This was the farthest I could go with the Ulog script:
[code]
Other than that, was able to connect QGC using mavros routing through gcs_url:=@<my ip>:14444

mavros gcs_briged didn't work here complaining about 'Invalid roslaunch XML syntax'.

[2017-05-01 19:46] mindThomas commented on #127
@mbelluzzo Wait... Are you connecting/starting Ulog on your computer or on the drone?
At least the IP address 192.168.8.2 does not seem correct as the drone have 192.168.8.1, or if running this Ulog script on the drone it is better to just use 127.0.0.1

[2017-05-01 20:41] mbelluzzo commented on #127
On my computer because mavutil on the drone is too old to run the script
properly (even with the bump)

On Mon, May 1, 2017 at 12:46 PM, Thomas Jespersen <notifications@github.com>
wrote:

[2017-05-01 21:03] mhkabir commented on #127
Can't you update `mavutil` too? Without being able to run logging on the drone, it really breaks user experience.

[2017-05-02 01:35] lucasdemarchi commented on #127
We should add instructions to make mavros connect to mavlink-router besides the instructions to connect mavros directly. mavlink-router has logging capabilities embedded.

One could just install the newest pymavlink with pip and have it working without messing with the base system (I actually rsync/scp my site-packages dir and export PATH accordingly)

[2017-05-02 18:41] toashwin opened #136 "How to capture image using VGA and 8M Camera?"
I was going over the article at:
   https://communities.intel.com/thread/112209
But on my aero drone, I dont have "capture_example" command. so Could not execute following command.
  sh-4.3# C=10 INPUT=0 MODE=PREVIEW capture_example --userp -d /dev/video0

I am using the latest image. version "1.3.1" obtained from:
   https://downloadcenter.intel.com/download/26748/Intel-Aero-Platform-for-UAVs-Ins

[2017-05-02 19:03] lfelipe commented on #136
@toashwin that capture_example listed was posted on another topic in the community here: https://communities.intel.com/thread/110654

The source code for that can be found here: https://github.com/intel-aero/sample-apps

That example is not distributed inside the release though, so thats why you could not find it there.

[2017-05-03 09:16] lucasdemarchi commented on #133
I think we talked on gitter and you solved the problem... ? Can we close this issue?

[2017-05-03 20:22] vankamm opened #137 "Stream VGA camera video over Wi-Fi"
Trying to walk through example "WiFi streaming using QGroundControl".  The command to launch gstreamer isn't working for me.  I notice it says to use 'video13', but that device is not listed in my dev folder.  I only have video0-9.  I actually just tried all of them with no luck.  What is the VGA camera mapped to?

[2017-05-04 09:06] mindThomas commented on #119
Having some success with the pull request now updating Mavros: https://github.com/intel-aero/meta-intel-aero/pull/134
I am able to get both Mavros and the Ulog script running on the drone but unfortunately with the same data rate issues as we have seen before.
Is baud rate 460800 still used or can we update this to something faster?

[2017-05-04 12:48] vankamm commented on #137
A quick follow-up to my question...  I now realize that example was for using the RealSense camera.  I plugged that in and the example works great.  I am now seeing other posts related to getting the VGA camera working and will take a look at those.  If you have any other suggestions for getting the VGA camera to work please let me know.

[2017-05-04 14:39] #114 closed

[2017-05-04 14:48] #49 closed

[2017-05-04 14:49] lucasdemarchi commented on #92
@avinash-palleti can you take a look on this?

[2017-05-04 16:24] mindThomas opened #138 "Supporting faster Baud rates to Pixhawk (460800 is unreliable for ULog)"
Which baud rates are supported to the Pixhawk?
It seems like it is only possible to use 460800 which seem to create a bottleneck for logging (Ulog).
With 460800 we seem to be limited to a logging rate of only 4.8 KB/s with a lot of dropouts too. This is way below average and more or less useless.

Any clues?

[2017-05-04 16:28] mindThomas commented on #127
With the image today I can confirm that the merged pull requested are indeed working with an updated version of Mavros included.
Using pip to update pymavlink allowed me to connect and run Ulog, just as desired. Thanks.

Unfortunately the actual bottleneck problem has now surfaced - our rate and dropout issues with Ulog was not due to WiFi limitations: https://github.com/intel-aero/meta-intel-aero

[2017-05-04 16:28] #127 closed

[2017-05-04 16:43] lucasdemarchi commented on #138
There are 2 problems on increasing it... On the Linux side and on the stm32 side. We were on 1500000 before but lowered that due to the issues below:

  - On Linux side there's an issue on the uart that becomes more evident when you raise the speed. If you raise it you will see lots of "too much work for irq 39" on dmesg. You will also see that mavlink-router starts reporting corruption on the lin

[2017-05-04 16:44] lucasdemarchi commented on #138
See #24 for more details. I'm closing this as a duplicate of that issue, ok?

[2017-05-04 16:44] #138 closed

[2017-05-04 17:13] mindThomas commented on #138
Well, may I ask you if it came to any surprise to you that the flight controller needed a UART interface?
It seems like the hardware planning went wrong when you designed the Aero compute board and did not connect the UART port directly to the Intel SoC?
Routing the UART through the FPGA, requiring that all transfers happens between the SoC and FPGA over the SPI bus, seems unplanned. And no hardwa

[2017-05-04 17:17] mindThomas commented on #24
Please test with a baud rate of 921600 (see https://dev.px4.io/en/companion_computer/pixhawk_companion.html)

[2017-05-04 19:45] lucasdemarchi commented on #138
It's actually a mix of software and hardware as explained above.

I understand your frustration, but this is no place for sarcasm.

Here you have the wrong assumption that there's a SPI <-> UART bridge. There **isn't**. The SoC's HSUART1 (see section 17.4 from http://www.intel.com/content/www/us/en/processors/atom/atom-z8000-datasheet-vol-1.html)  is connected to the FPGA. The FPGA here acts as a

[2017-05-04 19:46] #133 closed

[2017-05-04 22:26] lfelipe commented on #119
@icoderaven can this issue be closed now?

[2017-05-05 00:04] icoderaven commented on #119
I haven't tested it yet but I believe that it should be good to go! Thanks for asking!

[2017-05-05 00:04] #119 closed

[2017-05-05 00:08] icoderaven opened #139 "How do I connect a LidarLite v3 to the Aero?"
There are a lot of confusing instructions available - and this is in a grey area between the PX4 firmware and the aero hardware. I tried following the pinout on https://dev.px4.io/en/flight_controller/intel_aero.html but that doesn't work for me. Then @lucasdemarchi asked me about the PR https://github.com/PX4/Firmware/pull/7070 and that also seemed to suggest that I had to update the FPGA firmwar

[2017-05-05 00:14] lucasdemarchi commented on #139
@icoderaven we are waiting PX4 v1.6 get out in order to apply that PR since it also needs the update fpga firmware (https://github.com/intel-aero/intel-aero-fpga/pull/2 - mind you this is the *source* code of the fpga... you would need to compile it in quartus in order to be able to test).

[2017-05-05 21:46] mindThomas commented on #41
But there is no seamless logging. There is a lot of dropouts if you start digging into the Ulog files or look at the terminal output from the logger.

[2017-05-05 21:53] lucasdemarchi commented on #41
Dropouts are not related to who is saving the logs, but rather px4 not having enough bandwidth for what it's trying to save.

[2017-05-05 23:19] mindThomas commented on #41
Alright. So your definition of 'seemless' does not include dropouts?

[2017-05-05 23:23] lucasdemarchi commented on #41
You are commenting on an old issue/task that was related to adding the support for saving logs on the Linux side integrating the implementation done on mavlink-router.

There are issues with it that are not related with how we are saving the logs and there's an open issue about HSUART1 already.

[2017-05-05 23:27] lucasdemarchi commented on #41
"Seamless" there was in the sense of how it's integrated... Maybe another word would have been better.

[2017-05-11 05:42] #117 closed

[2017-05-11 19:56] jckchow opened #141 "Dronekit can't connect after sourcing /opt/ros/indigo/setup.sh"
I can connect to the Intel Aero RTF drone using Dronekit without any problems. But if I try to run the following command first:

_export PYTHONPATH=$ROS_ROOT/lib/python2.7/site-packages:$PYTHONPATH_

Then that same connect function raise APIException('Timeout in initializing connection"). I'm trying to connect to the vehicle on tcp:127.0.0.1:5760

Any idea how I can setup ROS and use Dronekit at t

[2017-05-12 03:40] lucasdemarchi commented on #126
should be fixed by #142

[2017-05-12 07:55] rudja commented on #119
Hello @icoderaven.
I am also trying to use mavros with this RTF, but all solutions given in this page didn't succeeded. Did you finally test and succeed in connecting mavros?
Thanks.

[2017-05-12 10:02] rudja opened #143 "Connection to RTF with mavros running on my computer"
Hello everybody,

I was able to perfectly command my RTF drone through mavros running on my computer, but after the last update (1.3.1), I can't... I saw that I was not alone referring to #119, but after testing all solutions on this page, impossible to connect with the drone.
There is a new way to do that or I need to wait according this issue #134 ?
I am on ubuntu 14.04, and my drone with the la

[2017-05-15 20:08] mindThomas commented on #143
I think several issues are still present with the UART configuration and Mavlink-routerd. At least we only have success with Mavlink-routerd with QGroundControl.
Let me present the steps that we are currently succefully using with the latest build of the image, although using the outdated and previously removed mavlink_bridge script:

1. After powering up the drone you need to stop mavlink-routerd

[2017-05-15 20:15] mindThomas commented on #141
Without having tested nor confirmed if this would work, I suggest that you investigate and try the gcs bridge feature of Mavros. After Mavros has been updated on the drone we can now launch Mavros on the drone, using it as intended.

1. To launch Mavros on the drone you first need to stop the mavlink-router which is started at power-up:
`sh /etc/init.d/mavlink-routerd.sh stop`

2. As mavlink-route

[2017-05-15 20:16] mindThomas commented on #137
So far we have also only had success with the RealSense camera - both depth and color though.
We would like to know about how to use and interact with the two VGA cameras, especially for using them with ROS.

[2017-05-15 20:43] mindThomas opened #144 "Spare parts with shipping to EU"
Hi.
While both the development progress and the overall project with the Intel Aero drone was going very well we unfortunately had quite a dramatic crash today.
Using just the PX4 controller, flying indoor in a Vicon (Mocap) equipped room with the settings enabled properly such that we were able to do Position hold and controlled movement with the drone. This has been working fine for weeks and to

[2017-05-15 20:51] lfelipe commented on #144
Let me take a look at this and get back to you.

[2017-05-16 00:36] #44 closed

[2017-05-16 00:36] lucasdemarchi commented on #43
on master-next

[2017-05-16 00:36] #43 closed

[2017-05-16 00:38] lucasdemarchi opened #145 "build_version.sh: move to a first-boot service"
The script broke on master-next which means aero-get-version is broken.

[2017-05-16 00:39] lucasdemarchi opened #146 "boot complete notification with RGB led is broken"

[2017-05-16 00:39] lucasdemarchi commented on #146
need to add proper systemd service

[2017-05-16 00:41] lucasdemarchi opened #147 "Start using systemd-boot as bootloader"
- Simpler configuration files
- Integrate well with systemd
- Allow easy "boot to target just on next boot", without having to package extra tools
- Integrate well with custom-kernel script

[2017-05-16 00:42] lucasdemarchi opened #148 "Replace initrd installer with live installer"
This allows us to use network while handling the installation.

[2017-05-16 02:22] lucasdemarchi opened #149 "Package cockpit"

[2017-05-16 16:24] rudja commented on #143
Thx for your answer @mindThomas .
I tried today your solution and It is successful! My problem was the version of Mavros always in 0.17...
Have a nice day!

[2017-05-16 16:37] lucasdemarchi opened #150 "Replace custom spidev modules"
Instead of using custom modules to just export spidev, we should rather adopt an ACPI overlay. Currently we have 3 modules:

[code]

An example for similar ACPI override can be found at https://github.com/westeri/meta-acpi/blob/master/recipes-bsp/acpi-tables/samples/minnowboard-max/spidev.asl

[2017-05-16 16:38] #143 closed

[2017-05-16 22:44] lucasdemarchi opened #151 "Do not start syslog"
We are already running the journal, there's no real need for running syslog. Edit journal configuration so it doesn't forward its log to syslog and ensure syslog is not in the final image.

[2017-05-16 23:04] lucasdemarchi opened #152 "remove nfsd"
nsfsd is failing to start, but it should actually not being started... it needs to be removed from image.

[2017-05-16 23:53] lucasdemarchi commented on #147
Currently this is triggering this bug: https://bugzilla.yoctoproject.org/show_bug.cgi?id=11503

[2017-05-17 03:45] avinash-palleti commented on #147
I did below changes in master-next,
`diff --git a/conf/machine/intel-aero.conf b/conf/machine/intel-aero.conf
index a921cd3..1531571 100644
--- a/conf/machine/intel-aero.conf
+++ b/conf/machine/intel-aero.conf
@@ -23,8 +23,10 @@ MACHINE_EXTRA_RRECOMMENDS += "efibootmgr"
KERNEL_MODULE_AUTOLOAD += "spi_imu spi_fpga spi_can"

# Grub config
-EFI_PROVIDER = "grub-efi"
+#EFI_PROVIDER = "grub-efi"
+EFI_P

[2017-05-17 05:39] lucasdemarchi commented on #147
( @avinash-palleti tip to get correct formatting on github: use "```" for code and bash snippets, so it uses monospace font )

So... Yes, I got this change you did a quick test. Note there's a warning about using LABELS. You should rather use LABELS_LIVE. This is the patch I applied to test:
https://gist.github.com/lucasdemarchi/dfa86950e55ffcbabc013a47106759b0

I also added a quick patch on `poky

[2017-05-17 17:27] avinash-palleti commented on #150
@lucasdemarchi I will look into this

[2017-05-17 23:09] lucasdemarchi opened #153 "Adapt px_uploader to work after transition to systemd"
Two things need to be done:
1. Change  our scripts to use systemd
2. Provide scripts for compatibility since they are called by scripts from outside

[2017-05-18 04:50] avinash-palleti commented on #152
@lucasdemarchi nfs-utils are coming from
poky/meta/recipes-extended/packagegroups/packagegroup-core-full-cmdline.bb

any other way to remove instead of making changes to above file.

[2017-05-18 05:32] avinash-palleti commented on #152
Oneway is to override same packagegroup in our layer.

[2017-05-18 05:44] lucasdemarchi commented on #152
I think there's a way to blacklist the package, avoiding it to be installed. Otherwise I'm ok leaving it as is, as long as we don't try to start it on boot. You can do this by adding a .bbappend and set it not to autoenable. Another option may be a .bbappend and remove it from the packagegroup. @hbruce, any suggestion?

[2017-05-18 07:42] avinash-palleti commented on #152
http://www.yoctoproject.org/docs/current/ref-manual/ref-manual.html#var-PACKAGE_EXCLUDE

using this we can do in image recipe or local.conf

[2017-05-18 08:04] lucasdemarchi opened #154 "Test usb-ethernet on windows"
Our ethernet over USB is very reliable for me now on master-next. Aero is configured to give an IP in the 192.168.7.10 - 192.168.7.30. This needs to be tested on Windows and instructions written (can be on this issue) of what needs to be done. Just getting an IP is sufficient.

[2017-05-18 08:13] lucasdemarchi commented on #152
since we are including it at the "image level", we can set this just after including packagegroup-core-full-cmdline, with a comment saying it comes from that group.

[2017-05-18 09:24] padmashree9110 commented on #152
@lucasdemarchi Getting below issue if we remove using PACKAGE_EXCLUDE either in local.conf or in image bb file.

https://gist.github.com/anonymous/3a253fdf5701dd6147b81452725a5efa

[2017-05-18 10:44] sugnanprabhu commented on #152
@padmashree9110

try adding the following line which will fix this error.
RDEPENDS_packagegroup-core-full-cmdline-sys-services_remove = "    nfs-utils"

[2017-05-18 13:18] padmashree9110 commented on #152
@sugnanprabhu
yes, Its working now.
Thank you

[2017-05-18 15:47] lucasdemarchi commented on #152
@padmashree9110 please open a PR for master-next branch with the change

[2017-05-18 16:45] whbruce commented on #152
@sugnanprabhu nice work. @padmashree9110  make sure PACKAGE_EXCLUDE and RDEPENDS_remove are in the same place so people know what you've done and why.

[2017-05-18 18:04] lucasdemarchi commented on #152
Taking a look now on what is each packagegroup.... Another approach would be to include packagegroup-core-full-cmdline-utils and packagegroup-core-full-cmdline-extended, but not the rest. Or everything except packagegroup-core-full-cmdline-sys-services

[2017-05-18 18:30] #153 closed

[2017-05-19 02:31] sugnanprabhu commented on #152
@lucasdemarchi @whbruce I also tried using BBMASK, but still couldn't avoid using RDEPENDS_remove

http://www.yoctoproject.org/docs/current/ref-manual/ref-manual.html#var-BBMASK

[2017-05-19 03:02] lucasdemarchi commented on #152
What about reducing the package groups we install as suggested on my previous comment? I'm ok with using the RDEPENDS_remove too

[2017-05-19 03:59] avinash-palleti commented on #152
@lucasdemarchi I will review package groups that are being installed and try to come up with minimal list. For now @padmashree9110 will submit PR to fix this issue.

[2017-05-19 06:27] avinash-palleti commented on #151
@rjasuja is working on this

[2017-05-19 09:33] avinash-palleti commented on #145
@lucasdemarchi Is this issue still there? I am able to get OS_Version and AIRMAP_Version in master-next build.
BIOS and FPGA versions are coming as unknown as I am on Joule.

[2017-05-19 15:03] lucasdemarchi commented on #145
Issue is still there. If you can get the version from aero-get-version.py it's probably because systemd is handling it as a compat sysvinit script

[2017-05-22 08:28] Rjasuja commented on #151
@lucasdemarchi i made changes as per this https://pastebin.com/uatX0PhC.
But the "CONFIG_FEATURE_SYSLOG=y" is still enabled, i cannot override this(hidden feature).
Is there any other way to try this ?
i used menuconfig to generate the config file(fragment.cfg).

[2017-05-22 08:34] avinash-palleti commented on #151
changes copied into gist: https://gist.github.com/avinash-palleti/056616b0bbe50f8b27ec24ca2505b3df

[2017-05-22 16:11] lucasdemarchi commented on #151
busybox-syslog is a package. Doesn't it work if you just remove it?

On May 22, 2017 1:35 AM, "avinash-palleti" <notifications@github.com> wrote:

[2017-05-22 17:05] Rjasuja commented on #151
@lucasdemarchi i could not find any package installed named busybox-syslog(checked using bitbake -s)

[2017-05-24 10:43] Rjasuja commented on #151
https://github.com/Rjasuja/meta-intel-aero/commit/95eb2e20a3412ba2dd0dd01f01ec2ff4c5aaa9dc
https://github.com/Rjasuja/meta-intel-aero/commit/777f476b09cc1528275cb5a0700145585340ae2b

These are the two changes i have done. Please review

[2017-05-24 11:38] vidhyagithub commented on #26
The possible solution would be to define UDEV rule for capturing SD card insert event and to start custom script for copying the logs. Please validate.

[2017-05-25 09:29] padmashree9110 commented on #145
@lucasdemarchi I made below changes. It is working now. Initially i tried doing changes in initscripts.bbappend only, but inherit systemd there was causing other issues. Seems to be bug with Yocto. So i created new recipe. There is one more patch which adds this recipe in image.bb file.

https://github.com/padmashree9110/meta-intel-aero-base/commit/702e9ca9ad23f9293ad8482e58514979af51f56d

[2017-05-25 09:30] padmashree9110 commented on #145
@lucasdemarchi if you are fine with changes, i will submit PR

[2017-05-25 14:31] lucasdemarchi commented on #145
Submit a PR, we can review there. Thanks

On May 25, 2017 2:30 AM, "padmashree" <notifications@github.com> wrote:

[2017-05-25 20:53] ohshout opened #159 "32 bit support"
Hi friends,

Sorry if I'm posting at the wrong place. The intel-aero forum might not be the best place for this kind of questions I guess.. My question is:

Whether it is possible to build everything (including the kernel) to be 32-bit x86? I'm not a yocto/bitbake expert, but I'm ok with tinkering with the yocto configurations. Just want to make sure there isn't any significant obstacles stopping

[2017-05-25 21:02] lucasdemarchi commented on #159
It is possible, just can't imagine why you would want that.... But anyway what you will need to do is to change the machine configuration to inherit from intel-core2-32 rather than intel-core-i7-64. See https://github.com/intel-aero/meta-intel-aero-base/blob/master/conf/machine/intel-aero.conf#L7

You may rather want to add multilib, which would allow you to execute 32 bit binaries.

[2017-05-25 21:19] ohshout commented on #159
Thanks for the quick reply, Lucas! We're running an old hypervisor on the aero board that only supports 32 bit guests... It is pain in the neck... Anyway,  I'll try it out now. Thanks again.

Tom.

[2017-05-26 03:55] #151 closed

[2017-05-26 07:00] diksha-gupta commented on #26
The following UDEV criteria might do the needful.

1. Create a new rule in /etc/udev/rules.d/ path as below.
ACTION=="add", KERNELS=="mmc2:e624", SUBSYSTEMS=="mmc", ATTRS{type}=="SD", RUN+="/usr/local/bin/script_name.sh"

2. script_name.sh file should have the logic for mounting/un-mounting and redirecting logs into SD card.

[2017-05-26 09:07] padmashree9110 commented on #152
@lucasdemarchi If we remove packagegroup-core-full-cmdline-sys-services as you suggested, we are going to remove below utilities from image,

at \
    bzip2 \
    cronie \
    dbus \
    dbus-glib \
    elfutils \
    gzip \
    less \
    libcap \
    libevent \
    logrotate \
    nfs-utils \
    pciutils \
    libpcre \
    rpcbind \
    sysfsutils \
    tcp-wrappers \
    tzdata \

Few utiliti

[2017-05-26 11:46] avinash-palleti commented on #150
@lucasdemarchi https://lists.yoctoproject.org/pipermail/linux-yocto/2016-February/004604.html

Is this patch required to be under linux-yocto ?

[2017-05-26 16:22] avinash-palleti commented on #150
@lucasdemarchi I made changes as per sample in meta-acpi layer then realized format is little different after looking into intel-aero dsdt acpi table.

Below is my updated patch: https://github.com/avinash-palleti/meta-intel-aero-base/commit/ebe9d15297ead78b61e0ec06bbdda5c2e897d053

Still i am not seeing /dev/spidev*. As you mentioned CAN controller is already there as part of DSDT table but even

[2017-05-26 16:36] whbruce commented on #150
Sorry, don't know about this feature, but it seems the right way to go. Maybe @clsulliv can help.

[2017-05-30 07:31] avinash-palleti commented on #148
I added new recipe file inside recipes-core/images/ as intel-aero-image-initramfs.bb and updated local.conf file
https://gist.github.com/avinash-palleti/cdad8c61370309019d8be72d57591f78
i am getting cpio.gz inside deploy/images/intel-aero/ but it is not getting bundled with iso ..
iso still having initrd and kernel command line is still initrd = /initrd

@whbruce @bluelightning Any suggestions?

[2017-05-30 09:25] rudja commented on #143
@mindThomas Hello,
I have a question for you. Did you success in adding some sensors (Lidar, GPS...) through the FPGA part of this drone?
I am asking that because after my first test, I have some imprecision.
I am now trying to add some sensors to improve his performence.

Thanks.

[2017-05-30 09:34] avinash-palleti commented on #148
We added new recipe file inside recipes-core/images/ as intel-aero-image-initramfs.bb and updated local.conf file
https://gist.github.com/avinash-palleti/cdad8c61370309019d8be72d57591f78

We also added INITRAMFS_IMAGE = "intel-aero-image-initramfs" inside machine.conf

we are getting cpio.gz inside deploy/images/intel-aero/ but it is not getting bundled with iso ..
iso still having initrd and kern

[2017-05-30 21:26] #152 closed

[2017-05-30 21:30] mindThomas commented on #143
We have not tried adding any other sensors through the FPGA part.
Our project has mainly been focusing on using the on-board RGB-D camera and the PX4 flight controller within a distributed ROS environment.
We succeeded in developing, configuring and implementing an indoor position controller solution for the Intel Aero, using our SLAM-based position estimator fed with measurements from the RGB-D c

[2017-05-30 21:37] lucasdemarchi commented on #126
This is fixed by the updated airmap recipe on master-next branch

[2017-05-30 21:37] #126 closed

[2017-05-30 21:38] #136 closed

[2017-05-30 21:38] #139 closed

[2017-05-30 21:39] #115 closed

[2017-05-30 21:43] lfelipe commented on #144
Shipping of spare parts is being handled by Yuneec, we're still waiting on them to reply and we'll escalate to make sure that they are shipping to more countries.

[2017-05-30 22:22] mindThomas commented on #144
Ha, too late. Obviously the customer service level from Intel (your side) is really lacking and quite slow.
If you want the community to work with your equipment and move to your equipment you need to step up and support the community as well.
So many other nice drone frames, DIY assemblies or Ready to Fly kits are already available on the market with great community support, replacement parts and

[2017-05-31 03:59] avinash-palleti commented on #145
@lucasdemarchi As you suggested using dmidecode utility to get version will be cleaner. We will add that utility into image and update aero-get-version.py accordingly.

[2017-05-31 07:23] rudja commented on #143
Thanks for your reply.
Great job! It will be my next step :). If you know someone doing my step, it will be nice if you could advert me!
Have a nice day @mindThomas!

[2017-05-31 10:58] adityavarmatcs commented on #152
On additional note, I see most of the listed utilities of packagegroup-core-full-cmdline-sys-services neither working and nor available /bin directory except below.
gzip
less
rpcbind

[2017-05-31 10:58] padmashree9110 commented on #145
https://github.com/intel-aero/meta-intel-aero/pull/161
https://github.com/intel-aero/meta-intel-aero-base/pull/4

[2017-06-01 05:06] avinash-palleti commented on #40
@anselmolsm @lucasdemarchi Adding v4 binary from below link will be fine i guess right ?

http://firmware.ap.ardupilot.org/Copter/2017-06/2017-06-01-04:06/PX4/

[2017-06-01 07:30] lucasdemarchi commented on #40
No. It's aerofc. But I still need to submit a couple of changes there.

On May 31, 2017 10:06 PM, "avinash-palleti" <notifications@github.com>
wrote:

[2017-06-01 08:11] avinash-palleti commented on #146
init_start.sh and init_complete.sh which are under meta-intel-aero-base/recipes-core/initscripts/ have to be started by a systemd service right ?

[2017-06-01 08:26] avinash-palleti commented on #45
@lucasdemarchi Shall i take up this? Is there any plan in place for this?

[2017-06-01 12:33] vidhyagithub commented on #146
Placing above scripts (init_start.sh & init_complete.sh) across the desired run levels of INIT (/etc/rcx.d) might solve this issue. Also it has to be noted that reboot&update script (meta-intel-aero-base/recipes-support/scripts/files/aero-reboot-update.py) too controls LED pattern during reboot&update.

[2017-06-01 17:39] avinash-palleti commented on #146
@vidhyagithub INIT scripts will not work as we moved to systemd

[2017-06-02 00:19] lucasdemarchi commented on #141
After some debug we discovered a way to run with mavlink-router as well.  The problem is that mavros uses sysid=1 that's the same in use for the autopilot. This means mavlink-router skips the endpoint of the flight stack to avoid sending the message in a loop.  mavros uses compid to differentiate itself, which is not correctly handled.  I'm running mavros here wth:

[code]

This tells mavros to us

[2017-06-02 00:19] lucasdemarchi commented on #141
A fix to mavlink-router is being worked on as well.

[2017-06-02 00:19] #141 closed

[2017-06-02 05:08] avinash-palleti commented on #147
@lucasdemarchi After adding loader into EFI partition i am able to see boot entries on Aero and Joule. On Joule it is booting fine but on Aero it is giving blank screen after selecting either of the boot entries (boot or install). No console logs are coming, How to get serial logs on Aero ?

[2017-06-02 05:14] lucasdemarchi commented on #147
It should show on the monitor. What you can also do:
- if it's an assembled rtf, flash the FPGA with the version of the compute-board-only (see /etc/FPGA)
- If it's the board with aerofc connected, you can simply disconnect it.

Then edit the kernel command line on the bootloader and replace ttyS0 with ttyS1. This should allow you to use the serial pins on the power connector to see the logs.

[2017-06-02 05:16] lucasdemarchi commented on #147
It may be kernel options that we don't enable. Please check the systemd-boot requirements wrt kernel config options and check if we are enabling them.

[2017-06-02 05:22] lucasdemarchi commented on #147
It may be kernel options that we don't enable. Please check the systemd-boot requirements wrt kernel config options and check if we are enabling them.

[2017-06-05 09:05] Rjasuja commented on #146
@lucasdemarchi i have added the service files for init_start and init_complete in this patch : https://github.com/Rjasuja/meta-intel-aero-base/commit/e9de27d1dc23f6d8a1f348bf3b308e0cc9a16f01
Please review

[2017-06-05 15:35] ohshout commented on #159
Hi Lucas,

Sorry for bothering you again... I just tried the above solution out, it gives me the following error. I'm gonna look into it today, but if you can give me some hints, it will be highly appreciated.

Thanks,
Tom.

_[czq@mrbig build]$ bitbake intel-aero-image
Loading cache: 100% |#############################################################################| ETA:  00:00:00
Loaded 2778 ent

[2017-06-05 15:59] lucasdemarchi commented on #159
gma500-gfx-check is not necessary in our board. Try removing it from packagegroup-core-boot. See our intel-aero-image recipe on how we remove some packages.

[2017-06-05 20:23] anselmolsm commented on #45
@avinash-palleti PR #162

[2017-06-05 21:24] lucasdemarchi commented on #104
In the next version it will be very easy to copy a file to the board, so we don't need to add the bios there.

[2017-06-05 21:24] #104 closed

[2017-06-06 07:25] #145 closed

[2017-06-06 15:18] ohshout commented on #159
Lucas,

I removed the line:
MACHINE_ESSENTIAL_EXTRA_RRECOMMENDS += "gma500-gfx-check"
from the file meta-intel/conf/machine/intel-core2-32.conf

Then I did a cleanall, then build, it's not complaining about gma500 any more, but I'm loads of errors, all looking similar:
ERROR: linux-yocto-4.4.60+gitAUTOINC+2cc78e92f4-r0 do_package_qa: QA Issue: Architecture did not match (3 to 62) on work/core2-32-

[2017-06-07 06:19] lucasdemarchi commented on #159
Edit the kernel config to switch to 32 bits.

Again... I would reconsider why your are doing this in the first place. Either make your binary 64bits or... we can run userspace 32 bit binaries just fine when multilib is enabled.

[2017-06-07 19:42] mindThomas commented on #138
Hi @lucasdemarchi
Sorry for the delayed response. Apologies for my ignorance, frustration and sarcarsm.
We have managed to complete our project which will be published online soon, including several guides on how to get started and get around some of the issues we've encountered.

May I know if you expect to resolve the UART Baud rate issue such that a faster communication rate to the PX4 can be a

[2017-06-08 10:13] bartosh commented on #148
Hi,

I'd like to help with this, but need a bit more information.

Can you provide more details about your setup (machine, layers used, etc) and about the goal. So far I understood that you need an installer image with enabled networking.

Is there any chance to debug this in qemu or I must have a hardware to reproduce your setup?

Regards,
Ed

[2017-06-08 10:25] avinash-palleti commented on #148
@bartosh Thank you :)

Goal is to migrate from initrd to initramfs live installer.
We are working on Intel-aero board which is CHT based.

AFAIK with initramfs live installer there should be cpio.gz file which goes into ramfs, ISO will include that cpio.gz and kernel command line will change respectively.

When i do above mentioned changes, i can see cpio.gz is getting generated but that is not ge

[2017-06-08 15:40] bartosh commented on #148
First of all there is an old confusion in terms of initramfs and initrd. initrd is a file system, which is mounted by kernel, but initramfs is a cpio archive. Yocto uses initramfs. The fact that it's called initrd doesn't mean it's real initrd. It's still initramfs.

Looking at the code in populate_kernel function I'd say that your initramfs was probably added to another one - microcode.cpio. Kern

[2017-06-08 15:52] lucasdemarchi commented on #148
Goal is actually to boot a full image. In other words, the installer runs on a fully booted image, not a "boot to initrd type of image we have today".  What we want to do is to be able to have all service fully running and being able to install the image to the final location - this way we have network up and running, mavlink-router up and running and possibly an http server up and running to guid

[2017-06-08 16:02] bartosh commented on #148
Then I'd suggest to look at wic image type. There are at least 3 reasons for this:

1. The approach if much cleaner - instead of using initramfs it boots full image.
2. live image type is going to be deprecated sooner or later and replaced by wic
3. I'm a maintainer of wic, so can help :)

[2017-06-08 16:07] whbruce commented on #148
+1 on moving to wic.

[2017-06-08 16:25] avinash-palleti commented on #148
@bartosh
Ya it makes sense now.. I was actually expecting cpio.gz inside ISO thats why got confused seeing still initrd inside.
Now as lucas is expecting if we need full image to boot with initramfs we need to have "PACKAGE_INSTALL += INSTALL_IMAGE" which will make all packages as part of initramfs archive.

Compared to this way, moving to wic will be cleaner as you suggested.

[2017-06-08 18:38] bartosh commented on #148
I'd like to point out that initramfs uses device memory. the bigger the image is the more memory is used. This is one more reason to move to wic.

Anyway, let me know if you need further help with this.

[2017-06-08 18:44] lucasdemarchi commented on #148
Is there an equivalent of the initram installer on the wic image?

[2017-06-08 19:56] bartosh commented on #148
@lucasdemarchi good question. Here you can see how to add install target to boot loader: https://bugzilla.yoctoproject.org/show_bug.cgi?id=11044

Frankly I don't know if it's enough. I need to look how this functionality is implemented. Hopefully it won't be hard to implement it. As far as I understood you'd need to modify default installer anyway, so it shouldn't stop you I guess.

[2017-06-08 21:23] lucasdemarchi commented on #148
Afair this will just instruct it to stop at the initrd in order to run the installer. What we need is a new installer that runs on the live boot

[2017-06-08 21:33] bartosh commented on #148
Absolutely. So, we have 2 alternatives:
bring all you need (network up and running, mavlink-router up and running and possibly an http server up and running etc) into initramfs and change the installer
or
bring the installer into full image that already has(or can easily have) all of the above.

It's your choice :)

[2017-06-08 21:49] lucasdemarchi commented on #148
This one, of course.

[2017-06-08 22:19] bartosh commented on #148
OK, here is the current install script: https://git.yoctoproject.org/cgit/cgit.cgi/poky/tree/meta/recipes-core/initrdscripts/files/init-install-efi.sh. 7 K of shell code. It copies rootfs from rootfs image to the target root partition. You should decide if you want the same approach or you can somehow use existing root partition or create another partition just for this purpose.

[2017-06-09 10:38] bartosh commented on #148
I'd suggest you to have a look at how this is implemented in RefKit:
- https://github.com/intel/intel-iot-refkit/blob/master/meta-refkit-core/classes/image-installer.bbclass
- https://github.com/intel/intel-iot-refkit/blob/master/meta-refkit-core/recipes-images/images/refkit-installer-image.bb

[2017-06-09 21:33] hzhutanx opened #165 "Disable/change screensaver and energy saving."
The Aero RTF drone has a 10 minute input timeout for inactivity. When this occurs, the HDMI output display will blank and the monitor will turn off. This occurs even when running the OS bundled app cpp-capture to display some camera features. It's desired to have an option to allow the user to disable this during boot time.

[2017-06-09 21:36] guermonprez commented on #165
agree
I think the 3 lines will do the trick:
xset -dpms
xset s off
xset s noblank

[2017-06-09 21:41] hzhutanx commented on #165
This would be particularly useful for users who want a set-and-forget method that sticks across drone restarts.

[2017-06-12 06:46] avinash-palleti commented on #165
@hzhutanx Those 3 commands which @guermonprez mentioned are working... Are you looking for this to persist across reboot ?

[2017-06-12 08:53] avinash-palleti commented on #147
It might be BIOS issue as same build is booting fine on Joule board.
Currently i am using Aero-01.00.11 bios, Is there any latest version to this with which i can check.

[2017-06-12 21:42] anselmolsm commented on #165
These configs can be added to either xorg.conf or to a file in xorg.conf.d.
@avinash-palleti , please take a look at the following commit, it might be something like this:
https://github.com/anselmolsm/meta-intel-aero-base/commit/a9dd94f0a9c833070c1decda68d42bd17271452f

[2017-06-12 21:43] hzhutanx commented on #165
Yes, across a reboot.
I've particularly used the following command withing my terminal session.
xset s off -dpms

but whatever works best.

[2017-06-13 04:24] avinash-palleti commented on #165
thanks @anselmolsm . Its working, with this end user can update required time out and this persists across reboots.

https://github.com/intel-aero/meta-intel-aero-base/pull/6

[2017-06-13 11:24] adityavarmatcs opened #168 "QEMU Emulator build failure"
While building QEMU Emulator, below error was thrown.

Code was synced on:    June 6, 2017
QEMU Emulator build procedure:

repo init -u https://github.com/intel-aero/intel-aero-manifest.git -b master

repo sync

Initialize build environment variables by running:

export TEMPLATECONF=../meta-intel-aero/conf

source poky/oe-init-build-env

In local.conf file added MACHINE ?= "qemux86-64" to build im

[2017-06-13 14:37] #159 closed

[2017-06-14 14:59] ohshout opened #169 "How to use ttyS0"
Good Morning!

Just a quick question, how do you use the ttyS0 on the aero board.
According to this doc: https://communities.intel.com/servlet/JiveServlet/download/453901-164636/Intel_Aero_Compute_Board_Hardware_Feature_Usage_v1.pdf, It seems to me the ttyS0
is the Pin 9 and 10 on J1 in Section 3.8.1. But I couldn't get any output from it.

Am I missing any setup?
Thanks,
Tom.

[2017-06-14 22:34] anselmolsm commented on #168
Hi @adityavarmatcs, I successfully built the image after a repo sync today. I was expecting to get this error, but it did not happen. Could you please give it another try, after a new repo sync? Thanks.

[2017-06-15 06:11] rohithnlr commented on #169
If you want to see the console logs check the /etc/inittab file
and check whether there is a line like this "s0:12345:respawn:/bin/start_getty 115200 ttyS0"
if not add this.

[2017-06-15 06:21] avinash-palleti commented on #169
If it's the board with aerofc connected, you can simply disconnect it.
Then edit the kernel command line on the bootloader and replace ttyS0 with ttyS1. This should allow you to use the serial pins on the power connector to see the logs. You need TTL to USB cable to connect.

[2017-06-15 08:23] adityavarmatcs commented on #168
This error was encountered while building the image for QEMU Emulator (config as ) - However I shall try syncing again and check if those errors are still valid.
Thanks.

[2017-06-15 13:00] ohshout commented on #169
Thanks for the replies!

I checked inittab, the line is there. I use a tty to USB serial cable and run minicom on my desktop. This setup gives me output when hooked up to ttyS1(the pins with the power cable). But weirdly I got nothing when hooked up to ttyS0(the pins in my original post), not even logs when the kernel boots.

So I suspect I'm using the wrong pins. Can anyone confirm the pins I'm u

[2017-06-15 14:19] lucasdemarchi commented on #169
ttyS0 is not connected there. You will need to use an USB serial to get an additional uart.

That uart is meant for the flight controller and on the RTF it goes to the ESCs.

[2017-06-15 14:36] ohshout commented on #169
@lucasdemarchi I think you misunderstood what I said:) I meant the ttyS1 on my board has already been taken, that's why I have to use ttyS0 as a console (or at least to see the kernel boot log). Right now I hooked up a USB serial to ttyS0 and got no output.

[2017-06-15 14:39] anselmolsm commented on #168
I'll rebuild targeting QEMU. If the same repo state fails in that particular case, there might be something else to be fixed then.

[2017-06-15 14:53] lucasdemarchi commented on #169
No, I didn't misunderstand. ttyS0 from the SoC is not connected there. It would be awesome to have it, but we don't.

SW alternative that I can think of would be to have a sdio<->uart bridge implemented on the fpga. We have an sdio from SoC connected there. Then we would dedicate it to talk to the flight controller and free up ttyS1 for console. There are some IPs out there with that bridge, some

[2017-06-15 15:10] ohshout commented on #169
Okay, I see. Thanks, Lucas!
So to conclude, right now, there's no I/O port based (instead of memory mapped) UART can be used by the linux.

[2017-06-16 00:50] zehortigoza commented on #40
https://github.com/intel-aero/meta-intel-aero/pull/170

[2017-06-16 00:50] #40 closed

[2017-06-16 00:50] #45 closed

[2017-06-16 01:01] lucasdemarchi commented on #154
It worked for me on windows 8 after installing cdc drivers for BBB. Strangely it continued to work after I uninstalled those. Windows 10 without additional drivers... it didn't work. @guermonprez can you help here?

[2017-06-16 01:02] anselmolsm opened #171 "Add symlink to old firmware location"
As pointed out by @lucasdemarchi [here](https://github.com/intel-aero/meta-intel-aero/pull/170#discussion_r122345355)

[2017-06-16 04:20] guermonprez commented on #154
I don't have a "naive" windows install at my disposal: I installed tons of USB-ethernet drivers over the years so it wouldn't be a good test.
For the default install procedure, I do not show this usb-ethernet method as it's hard to diagnose problems clients may face (ubuntu network manager, routing, ...). I'm using wifi to keep it simple. But it would be a good thing to have documented as a refere

[2017-06-16 08:33] sugnanprabhu commented on #26
@lucasdemarchi can you please review the PR #172 which uses systemd to mount micro sdcard. I tested the changes on aero and able to see that the card gets mounted to /media/sdcard

Changes are based on intel-edison
http://git.yoctoproject.org/cgit/cgit.cgi/meta-intel-edison/tree/meta-intel-edison-distro/recipes-core/base-files

[2017-06-16 20:14] zehortigoza commented on #171
https://github.com/intel-aero/meta-intel-aero/pull/174

[2017-06-16 20:14] #171 closed

[2017-06-20 23:47] whbruce commented on #150
Still on my list. This should be an intel-aero-base issue.

[2017-06-22 00:42] anselmolsm opened #178 "Reevaluate eee-acpi-scripts"
This issue is to remind us to continue https://github.com/intel-aero/meta-intel-aero-base/pull/9 in future.

[2017-06-23 13:57] guermonprez opened #180 "Not rebooting after aerofc-update.fc"
hello

the fc update is working well, and ends with "rebooting"
but it's not rebooting, I'm still on the shell.
1.4.0-dev

thanks, paul

[2017-06-23 14:11] lucasdemarchi commented on #180
What do you mean by "I'm still on the shell"? What reboots is aerofc, not aero (where the shell is running)

[2017-06-23 14:12] #169 closed

[2017-06-23 14:12] #165 closed

[2017-06-23 14:17] lucasdemarchi commented on #154
usb-ethernet is working fine on Linux and Mac, including the local name resolution. I don't expect local name resolution to be working now for windows, but at least it should get an IP and be able to connect. That's what I was asking if you could test. If you can't that's fine.

[2017-06-23 14:21] #146 closed

[2017-06-23 14:21] #26 closed

[2017-06-23 14:26] lucasdemarchi commented on #138
I tried to fix it sometimes. In my last effort raising the kernel to 4.9.x helped (the message that there's too much work on irq went away) but it was still not sufficient. The fix looks to be on kernel and I know I will work on this again looking for a software-only fix, but unfortunately I don't have an ETA (or even if it will be indeed possible).

[2017-06-23 14:38] guermonprez commented on #180
ok my mistake then. should be good. thanks

[2017-06-23 14:38] #180 closed

[2017-06-23 14:45] mindThomas commented on #138
Why do you fear that it should not be possible?
If you use a USB to UART converter it is possible? So why wouldn't it be possible with an internal UART of the processor itself (where faster rates by intuition should be possible)?

[2017-06-24 15:03] guermonprez opened #181 "mavlink examples: waiting heartbeat for ever"
git clone https://github.com/01org/mavlink-router.git
cd mavlink-router
python examples/heartbeat-print.py  127.0.0.1:5760

is waiting for ever for "mav.wait_heartbeat()", not printing the beats

But:
1. if I write a code without the wait and a sleep of 1sec,
it works (I can do things like arm motors)
2. telnet 127.0.0.1 5760 shows constant messages

thanks

[2017-06-24 15:05] lucasdemarchi commented on #181
This is the udp example and you are trying a TCP port

[2017-06-24 15:07] guermonprez commented on #181
indeed, thanks

[2017-06-24 15:07] #181 closed

[2017-06-28 12:56] adityavarmatcs commented on #168
I am trying to build a code of MASTER branch as I need "Systemd" to be up and running. Is it recommended to flash MASTER image (built one) on the board? Is MASTER (until now) stable? Can you advise?

[2017-06-30 17:56] ohshout opened #184 "SPI in PCI mode"
Hello,

A quick question: is there any way to set SPI devs to PCI mode. The option seems to be grayed out in BIOS. Any reason why?

Thanks a lot!
Tom.

[2017-07-03 05:57] anitha-suresh commented on #168
Yes, you can flash the MASTER image on the board.

[2017-07-04 06:07] adityavarmatcs commented on #168
Successfully flashed master image on the board.

Thank you

[2017-07-04 06:07] #168 closed

[2017-07-04 06:10] lbegani opened #185 "sample app capture_example binary not found"
To test the cameras in intel-aero using sample app, I tried running the following command but without success -
root@intel-aero:~# C=10 INPUT=0 MODE=PREVIEW capture_example --userp -d /dev/video13
It seems capture_example bin is not part of the image. The github project for sample-apps "git://github.com/intel-aero/sample-apps.git" is included in spi-xfer.bb file. This downloads the sources from sa

[2017-07-04 06:46] lkm1321 commented on #185
I think this was a legacy app to demonstrate some functionality of the OVT cameras. The OVT cameras seem barely functional as mentioned in prev issues. What I did was I just scp'ed the source files from my host machine and built it on the drone itself. Does what it's supposed to do for the forward OVT camera.

[2017-07-04 06:52] lkm1321 commented on #64
Hi, I'm trying this out myself just for fun. I have a couple of questions:
- The current OV8858 driver seems to use struct v4l2_subdev_video_ops to pass the getter/setter functions for format while the mainline driver seems to use struct v4l2_subdev_pad_ops uses v4l2_subdev_pad_ops to do the same. Is this intended?

[2017-07-05 18:12] zehortigoza commented on #64
@lkm1321 the drivers in Intel Aero kernel is previous to the internal api change in v4l2, I did it to ov7251 https://github.com/zehortigoza/linux-next/commit/6d8d326b1fcd6a10df12403ca7dfebd97ed1ef26

[2017-07-06 04:34] lbegani commented on #185
My concern was whether capture sample app needs to be included by default in the builds for the end users.

[2017-07-06 21:30] lucasdemarchi opened #189 "wifi failing authentication right after boot"
#93 strikes again.

rng-tools is not being installed anymore. This or an equivalent package needs to run in order to provide enough entropy for wpa_supplicant to authenticate clients right after boot.

Log from wpa_supplicant:
[code]

[2017-07-06 21:55] anselmolsm commented on #189
Have you had the chance to identify why rng-tools pkg is not being installed anymore? It's still in the intel-aero-image.bb recipe.

[2017-07-06 22:38] anselmolsm commented on #189
/usr/sbin/rngd is in the latest image. However it returns "read error" when executed.

[2017-07-07 01:24] lucasdemarchi commented on #189
Not sure... Maybe related to the order it is started. Need to check what is the hw device it's trying to use. Arch's page have more details... If nothing works we can fallback to haveged for the 1.4 release.

[2017-07-07 23:23] zehortigoza commented on #189
https://github.com/intel-aero/meta-intel-aero/pull/192 fixes this

[2017-07-09 06:58] #189 closed

[2017-07-09 17:16] anselmolsm opened #195 "AP mode on/off"
For the record and further evaluation. A suggestion we received about turning AP mode on/off:

Would it be possible to provide a way to make the connman AP mode state either persistent or configurable using the physical button (e.g. with a triple press)?

[2017-07-09 19:08] lucasdemarchi commented on #195
It is possible, not sure if desired. When you press the button there's an event generated that currently is captured to turn the board on/off.

I rather think connecting the cable and changing the mode may be better... Not sure. Particularly when cockpit is ready and people can use the web interface.

[2017-07-11 21:57] #92 closed

[2017-07-11 22:01] anselmolsm commented on #185
We could have a single sample-apps.bb that generates packages for each sample. We need to revisit those samples and check which one still make sense. Those packages could be offered in the rpm repo.

[2017-07-11 22:06] anselmolsm opened #199 "cockpit plugin: about"
Add a simple cockpit plugin to show info about Intel Aero.
  - OS
  - FPGA
  - FC
  - BIOS

This could get the output of aero-get-version.py.

[2017-07-11 22:11] anselmolsm opened #200 "cockpit plugin: Network"
Add a network plugin that interacts with the network management software (connman):
 - [ ] 1)  AP setup: Change SSID and password
 - [ ] 2)  Factory reset - restores the default wifi settings (SSID and password)

[2017-07-11 22:13] anselmolsm opened #201 "cockpit plugin: Network part 2"
Extend the network plugin, adding:
 - [ ] Client connection configuration: scan, select and connect to a WiFi network
 - [ ] USB route configuration

[2017-07-11 22:23] anselmolsm opened #202 "cockpit plugin: Software Update"
Plugin that allows:

- [ ] system upgrade (flash new .iso):
  - USB drive:
     - Flash a .iso provided by the user and triggers aero-reboot-update.py
     - Check if version is available online
     - Download iso and prepare for update
- [ ] System update (dnf update) - evaluate if the existing cockpit plugin can be used
- [ ] FPGA update
- [ ] BIOS update

[2017-07-11 22:30] anselmolsm opened #203 "cockpit plugin: docker plugin"
Evaluate the existing cockpit docker plugin and provide feedback, then a decision can be made if additional features are required.

[2017-07-11 22:31] anselmolsm opened #204 "cockpit plugin - SSH"
Evaluate and test the existing SSH plugin and eventually enable it.

[2017-07-11 22:56] anselmolsm opened #205 "cockpit plugin: cameras detected by csd"
List the cameras (with streaming links) detected by camera streaming daemon.

[2017-07-11 23:12] lucasdemarchi commented on #184
As of now, we don't have it supported.  It would need a bios change request and check it works ok on Linux. I can't give you any estimate of this happening, but it's noted down as something to look at.

[2017-07-11 23:12] #184 closed

[2017-07-11 23:50] anselmolsm commented on #149
Recipe merged. Future related activities labeled as [cockpit](https://github.com/intel-aero/meta-intel-aero/issues?q=is%3Aopen+is%3Aissue+label%3Acockpit).

[2017-07-11 23:50] #149 closed

[2017-07-11 23:51] anselmolsm opened #206 "Split cockpit package in smaller components"

[2017-07-12 00:24] lfelipe commented on #144
@mindThomas I understand your concerns there. I'm glad to hear you got the drone flying again, and I've forwarded your feedback to the relevant people here. I'm closing this as this is more of an issue to the customer forums than for this repository (which focuses directly on the software side of the platform), and I've seen you also brought the issue there. Thanks for the honest feedback, and loo

[2017-07-12 00:24] #144 closed

[2017-07-12 01:27] anselmolsm opened #207 "rng-tools: use hwrng"
Configure rngd to use /dev/hwrng

[2017-07-12 09:32] anitha-suresh opened #208 "cockpit plugin: Software Update - check SDK updates"

[2017-07-12 12:04] avinash-palleti commented on #207
@anselmolsm i dont see device getting listed with lspci.
So insmod is failing for rng modules

[2017-07-12 12:18] avinash-palleti commented on #207
@anselmolsm i dont see device getting listed with lspci.
So insmod is failing for rng modules(intel-rng.ko, amd-rng.ko) with error "No such device"

But rngd command shows that there is hardware rng.

$ rngd -v
read error
Available entropy sources:
      Intel/AMD hardware rng
      DRNG

when i get info of that device,

$ udevadm info /dev/hwrng
DEVPATH=/devices/virtual/misc/hw_random

[2017-07-12 15:17] anitha-suresh commented on #207
@anselmolsm, looks like our RNG is a CPU based one and hence it is not showing up in lspci?

[2017-07-12 15:52] avinash-palleti commented on #207
@anselmolsm I got confused because of read error, but it seems its ok to have couple of read error while starting the service.

I changed rngd.service file to use /dev/hwrng device as input device, after this change
$ cat /dev/random
gives bigger chunk of binary data, which means random number that is generated is more complex and actually used hw entropy.

I will submit the patch.

[2017-07-12 15:57] lucasdemarchi commented on #207
Also check if wifi (or SSH via usb-ethernet) doesn't give error in the first authentication right after boot

[2017-07-12 15:59] avinash-palleti commented on #207
@lucasdemarchi Will check it and update.

[2017-07-12 16:23] avinash-palleti commented on #199
@anselmolsm Every plugin will have respective folder with set of files including manifest.json and html file.
lets have all plugin folders in /recipes-cockpit/plugins/, cockpit.bb will have installation commands to place them in target image at /usr/share/cockpit/ location.

Any other plan ?

[2017-07-12 17:38] #185 closed

[2017-07-12 17:39] lucasdemarchi commented on #46
Experimental support in v1.4 via dnf.

[2017-07-12 17:39] #46 closed

[2017-07-12 18:03] lucasdemarchi opened #211 "Add Aero branding"
See branding directory in cockpit. Customize with logo, css, etc like other distributions do.

[2017-07-12 19:43] anselmolsm commented on #208
This is a step after #202

[2017-07-12 19:47] anselmolsm opened #212 "Cockpit plugin: Logs"
Allow access to system and flight stack logs.

@lucasdemarchi @lfelipe , pls add more details.

[2017-07-12 19:52] lfelipe commented on #208
@anitha-suresh is this about providing information on updates to the Yocto SDK? Not sure whether cockpit would be a good location for that. Can you provide more description

[2017-07-12 19:53] lfelipe commented on #212
Idea is to initially just provide easy access to the log files that were recorded on the platform so the user can download them without too much of a hassle. Later on to actually provide better log information through the interface.

[2017-07-12 21:51] lucasdemarchi commented on #212
Renamed the issue to be clear this is about flight stack logs. We already have a plugin enabled to check the system logs.

[2017-07-13 01:21] anitha-suresh commented on #208
@lfelipe, I meant about the SDK which is built along with the Yocto image and hence I had mentioned that in the title (original title) . This would be beneficial to the app developers in getting latest SDK.

[2017-07-13 05:04] anitha-suresh commented on #208
As cockpit runs on the board, giving the option of Yocto SDK might not make much sense I guess. Maybe we need to figure out another way to help the app developer in sharing the link to update SDK and host it separately?

[2017-07-13 09:36] SaliniVenate opened #213 "Error in Mission Planning from QGC"
While uploading a mission with RTL option to Intel Aero from QGC I get the following error:
1) Error during Mission communication with Vehicle: Vehicle returned error: Command not supported (MAV_MISSION_UNSUPPORTED).Command(,,20)

![inel_aero_error](https://user-images.githubusercontent.com/25497118/28159461-a25241ee-67da-11e7-9c7e-d30708316328.png)

2) When I  un-check the RTL checkbox, the missi

[2017-07-13 10:16] sugnanprabhu commented on #213
@SaliniVenate
The latest aero release is using v1.6.3 firmware.
Can you please try updating the px4 firmware on the aero with the following command and let us know if you still face the error.
# aerofc_update.sh /etc/px4-fw/nuttx-aerofc-v1-default.px4

[2017-07-13 17:11] anselmolsm commented on #213
It is not 1.4.

Please follow what @sugnanprabhu suggested. That will flash 1.6.3 into Aero FC. Then repeat the test and post results here. Thanks.

[2017-07-13 18:00] lucasdemarchi commented on #213
There are lots of changes from v1.6.3 to v1.6.5. We are likely going to update once it's flight tested.  Can you test this firmware on aero? http://px4-travis.s3.amazonaws.com/Firmware/stable/aerofc-v1_default.px4

[2017-07-13 18:38] anselmolsm opened #214 "dockerfiles: Provide setups for some scenarios"
Dockerfiles can be used to create docker images with dependencies of certain project pre-installed, for example. Basic ROS configuration is an example of useful dockerfile to have.

We'll setup a separate repo for those files (and put the link here when it's ready).

[2017-07-13 18:43] anselmolsm commented on #199
@avinash-palleti We might change the way the current .bb installs cockpit components. Also, I believe plugins could be installed as separate packages as well. #206

[2017-07-13 18:43] anselmolsm commented on #199
BTW, this plugins has been submitted as https://github.com/intel-aero/aero-cockpit-plugins/pull/1

[2017-07-13 22:49] #207 closed

[2017-07-14 08:12] SaliniVenate commented on #213
I tried the updating px4 the way @sugnanprabhu  suggested and the issue 1 is solved. I'm able to send the mission successfully to vehicle. @lucasdemarchi , I tested the firmware you mentioned on intel aero and with that also I did not find any issue with sending a mission to the vehicle. In both cases the firmware version as displayed in QGC is 1.6.2dev.

The second issue  I believe is because the

[2017-07-14 10:14] Rjasuja commented on #202
I am working on this issue

[2017-07-14 10:51] Rjasuja commented on #200
Submitted PR: https://github.com/intel-aero/aero-cockpit-plugins/pull/2

[2017-07-14 13:04] Rjasuja commented on #200
Attaching sample screenshots for the plugin:

![network](https://user-images.githubusercontent.com/25738737/28213264-f5c7ab28-68c2-11e7-8897-f0a0149837b2.JPG)
![change_ssid](https://user-images.githubusercontent.com/25738737/28213265-f5ce59f0-68c2-11e7-8c28-bf17fc9ca360.JPG)
![reset_ssid](https://user-images.githubusercontent.com/25738737/28213266-f5d1e5ca-68c2-11e7-9a33-10a9c77a2f16.JPG)

[2017-07-14 16:19] lucasdemarchi commented on #213
Thanks for testing. Let's close this then.

[2017-07-14 16:19] #213 closed

[2017-07-14 17:53] lfelipe commented on #208
Yes, that should likely just go through the standard download website and we can from cockpit just mention whats the latest release available at some point.

[2017-07-14 17:53] #208 closed

[2017-07-14 17:53] anselmolsm opened #216 "cockpit plugin: Software Update, part 1"
- [ ] system upgrade (flash new .iso):
  - USB drive:
     - Flash a .iso provided by the user and triggers aero-reboot-update.py

[2017-07-14 17:53] anselmolsm commented on #202
@Rjasuja I split this in 2 parts. See #216 for v1.5.

[2017-07-17 04:25] avinash-palleti commented on #199
PR Merged.

[2017-07-17 04:25] #199 closed

[2017-07-17 08:55] padmashree9110 commented on #216
Submitted PR
https://github.com/intel-aero/aero-cockpit-plugins/pull/3

[2017-07-17 10:48] Rjasuja commented on #203
Docker support in Cockpit includes :
1. Getting New Images
2. Starting Docker server
3. Starting different containers(with different environment variables) from the same image
4. Manages Resources
5. Manages Container Resources.

Tried Downloading Ros container and launching roscore. It worked. Attaching screenshots.

Docker Statistics :
![docker_statistics](https://user-images.githubusercontent.c

[2017-07-17 15:37] lucasdemarchi commented on #203
Nice. Please send a PR enabling it back. Thanks.

[2017-07-18 08:30] Rjasuja commented on #203
Docker is enabled by default.

[2017-07-18 11:15] rohithnlr commented on #24
I flashed the FPGA with: /etc/aero_compute_board_only_fpga.jam connect a FTDI to the HSUART pins on the power connector
send continuous data  from host system. when i checked cat/proc/tty/driver/serial on the aero board side rx counter was updating with framing errors.

[2017-07-18 15:02] lucasdemarchi commented on #203
Oh, great! That means I didn't remove it... Checking https://github.com/intel-aero/meta-intel-aero/commit/73ebb0f49379b8f9c735f71362fc2a3861c3fe5a, indeed I didn't.

thanks for testing, it was good to have this nonetheless since we can use your tests to add image to the documentation later :)

[2017-07-18 15:02] #203 closed

[2017-07-18 15:20] lucasdemarchi commented on #34
@zehortigoza could you add an ISR to PX4 and ArduPilot so we can use a gpio for that task? It looks like even after the pin "reshuffle" to get an additional I2C we could use PC15 from the stm32 for that.  This is something we could put together with the next fpga version bump.

[2017-07-18 15:51] zehortigoza commented on #34
But how we will control the GPIO state? save the state in FPGA would require a lot of work.

[2017-07-18 16:41] lucasdemarchi commented on #34
We don't need to save the state. This doesn't require reboot. On the stm32 it's basically:

[code]

This is only a sketch. The mdelay there may not be ideal/allowed and we should rather have a timer irq firing 5msec later (but we don't want to depend on the rest of the system working): if at least the irq for that specific pin is working, we can reset the microcontroller in runtime.

An alternativ

[2017-07-18 16:44] lucasdemarchi commented on #34
On the FPGA side:

We always initialize the pin with 0 (or 1, should match the irq handler). When we give a spi command  AEROFC_REBOOT from Linux, we toggle this pin (or make the PWM above for X sec).

[2017-07-18 17:11] zehortigoza commented on #34
Ok but keep in mind that in some cases(like trap in loop inside of a interrupt handler) it will not work and will require power off and power on of the board.

[2017-07-18 17:24] lucasdemarchi commented on #34
Yep, this is something that should cover most of the cases before telling the user to flash a different fpga firmware and go through the power cycles.

[2017-07-19 05:45] #216 closed

[2017-07-19 05:47] padmashree9110 commented on #204
For our requirement this plugin is not needed.
https://github.com/intel-aero/meta-intel-aero/pull/217

[2017-07-19 05:47] #204 closed

[2017-07-19 05:55] padmashree9110 commented on #195
@lucasdemarchi @anselmolsm Shall we have this option as part of Network plugin only ?
https://github.com/intel-aero/meta-intel-aero/issues/200

[2017-07-19 06:00] lucasdemarchi commented on #195
Yes

[2017-07-19 08:50] Nickhodem opened #218 "Connect to ROS in docker"
Is it possible to connect to ROS master which is set up in docker (https://github.com/intel-aero/meta-intel-aero/wiki/New-tools-v1.4) via local network?

[2017-07-19 11:53] diksha-gupta commented on #202
As part of S/W update-plugin, is it required to consider AeroFC firmware update as well? It can be done by running aerofc_update.sh script present in /usr/sbin directory, with PX4 firmware file (copied in an agreed file path) as an argument.

[2017-07-19 15:40] anselmolsm commented on #202
I think I left AeroFC update out of the description by mistake.

@diksha-gupta /etc/aerofc contains both PX4 and ArduPilot firwares for AeroFC. At first those files should be updated using rpm, not sure if we should allow firmware uploads in this plugin. @lucasdemarchi , opinions?

[2017-07-19 18:12] lucasdemarchi commented on #202
aerofc-update.sh accepts the firmware as an argument.

The plugin should:
a) list the available "factory firmwares" that can be get from /etc/aerofc
b) let the user to upload its own firmware: this should by no means write to /etc... the plugin should just accept the file, save it to a temporary location, call aerofc-update.sh and remove the file.

After doing that we let the plugin have a well do

[2017-07-19 21:26] anselmolsm opened #219 "rpm fails while checking certain types of signatures"
This affects v1.4.

It might be related to build configuration parameters or dependencies. The same version of rpm works fine in other environments.

rpm operations that involves signature verification fail when the rpm file is signed using a RSA2048 key (however I got success while testing a RSA2048 key I generated myself. I'm still checking if there's any other difference).

For example, capsule

[2017-07-19 21:31] gjkunde opened #220 "AERO in Qgroundcontrol"
Dear All,

in summary QGC displays

System ID    1
Airframe type <empty>
Vehicle type <empty>
Firmware version 1.6.2dev

what would need to be done in order to populate these fields ? Is that
at problem on the AERO side or the QGP side ?

Same question for updating firmware, it would be nice if there would be
a button like there is for PIXHAWK to update the firmware, rather than
copying the firmwa

[2017-07-19 21:35] anselmolsm commented on #220
I'm not sure about the first question, @lucasdemarchi may know the answer.

The second question, there is #202 somehow related to that.

[2017-07-19 21:43] gjkunde commented on #220
Indeed, but only somewhat. I read in #202, that
the idea is still get the file from /etc ... on the drone.
However for the pixhawk it automatically goes out to the
repository, finds standard, or beta or daily build.
(One can define a custom location too, I for example
compile it on my local machine), downloads  and then
loads the firmware ... transparent and convenient :-)

[2017-07-19 21:48] anselmolsm commented on #220
@gjkunde your suggestion would be the "item c" in https://github.com/intel-aero/meta-intel-aero/issues/202#issuecomment-316471386 ;)

[2017-07-19 21:59] gjkunde opened #221 "Pressure Sensor and Mag Sensor"
I am trying
i2cdetect -y -r 2
and get a response 12 at address 0x12. According to:

Intel Aero Compute Board includes BMM 150 sensor. This sensor is connected to Atom SoC via I2C interface on bus 2 at slave address 0x12.

that should be the mag sensor - alas in QGC it says "mag0 not found".

I read in http://www.mouser.com/ds/2/783/BST-BMM150-DS001-01-786480.pdf on
page 16 that there is a self tes

[2017-07-19 22:58] lucasdemarchi commented on #221
Humn... are you sure you want to get the values from the sensors in the Compute Board side and not on the Flight Controller side?

[2017-07-19 23:02] lucasdemarchi commented on #220
@gjkunde our first attempt to get the same behavior as in pixhawk in QGC was rejected by upstream developers: https://github.com/mavlink/qgroundcontrol/issues/4698

Our current strategy is to implement something similar to what has been discussed there:  an http api that QGC can use to update the flight controller.

Note that if you are building the code yourself, it's already possible to upload d

[2017-07-19 23:14] anselmolsm commented on #218
With `docker run`, you can use either the `-p PORT` flag, which allows you to specify a port/list of ports to be exposed, or `-P` which exposes all ports.

On Aero, with ifconfig you can set an address (compatible with your local network) to docker0 interface. Then (assuming connected via wifi interface - wlp1s0):

[code]

That should allow you to access the docker container from another machine i

[2017-07-19 23:51] lfelipe commented on #221
@gjkunde the Aero RTF has two separate boards inside, one Compute Board and one Flight Controller, and both of them have sensors available.

This document should give you more info:
https://www.intel.com/content/www/us/en/support/drones/development-drones/000023602.html

If you are looking for source code examples of using those sensors, the following answer on the community forum should be helpfu

[2017-07-20 05:19] padmashree9110 commented on #178
@anselmolsm I have seen IRC chat and verified Power on/off with button before submitting PR.(forgot to add a note)
Is there anything else that I need to verify.

[2017-07-20 09:38] Nickhodem commented on #218
Thanks for help! It works! I only had to export ROS_HOSTNAME = inet addr of wlp1s0.

[2017-07-20 17:47] sugnanprabhu commented on #219
I'm trying to build the rpm from source on Ubuntu.
Following are the dependency list for rpm. Can you please share the dependency package version on the fedora where rpm -qlp command is working?

db >= 5.3.28
db >= 5.3.28
file >= 5.30
file >= 5.30
libarchive >= 3.2.2
libarchive >= 3.2.2
libbz2-1 >= 1.0.6
libbz2-1 >= 1.0.6
libc6 >= 2.25
libc6 >= 2.25
libdbus-1-3 >= 1.10.14
libdbus-1-3 >= 1.10.14
li

[2017-07-20 19:16] lajoiepy opened #222 "Aero RTF v1.4 - Realsense camera not detected"
Hi!
I recently flashed the new image (v1.4) on the Aero RTF of my lab and unfortunately, I am not able to start the Realsense R200 camera from the Docker container because the camera is not detected. I followed this [tutorial](https://github.com/intel-aero/meta-intel-aero/wiki/08-Aero-Network-and-System-Administration) and I chose the aero-ros image. Note : I am able to see the camera images with

[2017-07-20 19:30] lucasdemarchi commented on #222
You need to pass `--privileged` to access all devices from host.

[2017-07-20 19:38] #222 closed

[2017-07-20 19:39] lajoiepy commented on #222
Thank you!

[2017-07-20 20:01] RohanKurane opened #223 "VGA camera does not set Format"
I am trying to program the VGA camera ov7251 within my application that I have ported to the Intel Aero Board. For that I am setting the format on the camera using the following lines of code:
fmt.type = V4L2_BUF_TYPE_VIDEO_CAPTURE;
fmt.fmt.pix.width = WIDTH;
fmt.fmt.pix.height = HEIGHT;
fmt.fmt.pix.pixelformat = V4L2_PIX_FMT_YUV420;
fmt.fmt.pix.field = V4L2_FIELD_INTERLACED;

if (ioctl(ctx->fd, V

[2017-07-20 20:51] lucasdemarchi commented on #219
Just submitted the bug upstream: https://github.com/rpm-software-management/rpm/issues/270

I think for now we should revert to rpm version 4.13.0.1 since it's the one used by Fedora (and thus more broadly tested) and also the last stable version.

[2017-07-20 21:22] anselmolsm commented on #219
Something went wrong when we intended to test sha1 a8e51b3bb05c6ac . Test repeated today was able to reproduce the issue on Fedora.

Next step: Package rpm 4.13.0.1 for Aero (submit that to Yocto as well)

[2017-07-20 21:29] anselmolsm opened #224 "Enable package management by default"
dnf has been introduced in v1.4, with intel-aero.repo file is in the image, disabled by default.

For 1.5, enable the package repo by default and publish rpms to allow per package updates.

This includes the internal process (and documentation about it) of making the packages available.

[2017-07-20 21:29] anselmolsm commented on #224
Depends on #219

[2017-07-20 21:35] anselmolsm opened #225 ".repo breaking the build"
In certain conditions, /etc/yum.d/intel-aero.repo (installed by [intel-aero-repo](https://github.com/intel-aero/meta-intel-aero/tree/master/recipes-support/intel-aero-repo)) enabled breaks the intel-aero-image generation due to a dnf operation executed as part of do_rootfs step.

Identify if there's something missing to not break the root_fs step when there's a custom .repo file.

[2017-07-20 21:36] anselmolsm commented on #225
Related to #224

[2017-07-20 22:33] anselmolsm commented on #218
Cool, @Nickhodem

**For the record**: In fact, according to Docker's doc [Bind container ports to the host](https://docs.docker.com/engine/userguide/networking/default_network/binding/ ), the iptables commands I posted above are not needed. Thanks @lucasdemarchi for pointing that out.

Info about port binding also added to the [wiki](https://github.com/intel-aero/meta-intel-aero/wiki/08-Aero-Netwo

[2017-07-20 22:33] #218 closed

[2017-07-21 14:02] sugnanprabhu commented on #219
@lucasdemarchi @anselmolsm
I made the changes to include rpm 4.13.0.1, following are the changes.
https://gist.github.com/sugnanprabhu/3945e137f82c7bf14a2f1b51dc3c9603

Also I have not included the the patches that are part of the fedora rpm package.

But facing the following error for all the packages.

rpmlib(ShortCircuited) <= 4.9.0-1 is needed by kbd-keymaps-2.0.4-r0.corei7_64
rpmlib(ShortCirc

[2017-07-21 14:53] anselmolsm commented on #212
A first PR related to this task: https://github.com/intel-aero/aero-cockpit-plugins/pull/6

[2017-07-21 23:53] RohanKurane commented on #223
Just wondering if anyone had a chance to look at this.

[2017-07-21 23:54] anselmolsm commented on #219
@sugnanprabhu thanks for checking that.

The current rpm recipe applies a patch that deals with that 'short circuit' thing. Besides that, there are other changes needed to downgrade to 4.13.0.1-release.

I don't think we are able to forecast all possible issues of such change. That said, is looks safer to follow the suggestion of ["back out that specific "exact_match" change"](https://github.com/r

[2017-07-22 00:31] zehortigoza commented on #223
@RohanKurane Are you zeroing the struct? Give a look at this sample: https://github.com/intel-aero/sample-apps/tree/master/capturev4l2 or at here: https://github.com/zehortigoza/aero-optical-flow it will not work for you as your kernel don't have the additional changes to handle exposure https://github.com/intel-aero/meta-intel-aero-base/pull/7 but you can just remove it out.

[2017-07-22 00:47] anselmolsm commented on #223
@RohanKurane if you have info about the pthread problem with v1.4, please report in a new issue. Tks.

[2017-07-24 10:42] sugnanprabhu commented on #219
@anselmolsm @lucasdemarchi tried the changes suggested by rpm community.

https://gist.github.com/sugnanprabhu/45ba2aa653a80b415bcaf2a9c6572b86

Observing following error on installing the BIOS.

![bios_error](https://user-images.githubusercontent.com/26642386/28519803-9b7662b6-708a-11e7-855e-0728c2a0c6a6.png)

[2017-07-24 13:15] diksha-gupta commented on #202
Here is the snapshot of s/w plugin development.
1. BIOS update - Assume that capsule*.rpm is present in SD card or external media storage disk
	Upon clicking on this button, BIOS UPDATE takes place and system reboots.
2. .jam update - The existing *.jam files (/etc/fpga) are listed here. Upon clicking on it, JAM update  takes place.
	Should we consider custom or updated *.jam file as well?
3. FC u

[2017-07-24 15:02] avinash-palleti commented on #202
@diksha-gupta
It will look nice if you can have tab structure. Please have look at "Services" plugin, it has multiple tabs each serves different functionality.
It will look good if you can list the existing jam files and FC Firmware in dropdown box instead of buttons.
There should be a way for user to update with custom file and also it should take latest release version from https://downloadcente

[2017-07-25 00:33] anselmolsm commented on #219
@sugnanprabhu The error above is not related to the rpm issue itself.

[2017-07-25 06:33] sugnanprabhu commented on #219
The issue caused earlier was due to installing the same version of BIOS.
@anselmolsm I have submitted PR #229

[2017-07-25 21:33] zehortigoza commented on #34
FPGA: https://github.com/intel-aero/intel-aero-fpga/pull/4
Ardupilot: changes merged
PX4: change submitted https://github.com/PX4/Firmware/pull/7682
Intel Aero image: missing send the updated jam and add a script to set/unset the force bootloader pin in runtime.

[2017-07-26 04:03] lucasdemarchi commented on #202
I agree with @avinash-palleti. Just take care when checking online for updates since most of the times the board won't be connected to internet. You can use the client side with js , but even then care must be taken to handle fails gracefully.

[2017-07-26 09:58] avinash-palleti commented on #200
PR merged https://github.com/intel-aero/aero-cockpit-plugins/pull/5

[2017-07-26 09:58] #200 closed

[2017-07-26 13:32] vidhyagithub commented on #202
@avinash-palleti @lucasdemarchi
Thanks for the comments.
We have modified the UI look and feel based on your suggestions. Kindly refer to the attached screen-shots and let us know your opinion on the same. If any further improvements is required, we shall work on them and submit PR.

Please clarify the below queries:
1. From the download centre (https://downloadcenter.intel.com/download/26748/Inte

[2017-07-26 14:38] lucasdemarchi commented on #202
Yeah.... thinking again, currently there's no reliable way to determine the last released OS image and Bios.  Just remote that part from your code until that's available.

No, that's wrong.

For the UI, as @avinash-palleti said previously, please use the same way it's done on "Services"  plugin. Inspecting their code, it's this snippet here:

[code]

I used Chrome to inspect the source (F12), but

[2017-07-26 15:40] lucasdemarchi commented on #202
Their source:
https://github.com/cockpit-project/cockpit/blob/2954a22d01ef1305c8e2f42f84435f9140fe8d2e/pkg/systemd/services.html#L50-L59

[2017-07-26 16:16] anselmolsm commented on #178
@lucasdemarchi raised the concern that the soft shutdown is not working properly in 1.4.
@avinash-palleti, could you please share your findings about it?  Thanks.

[2017-07-26 16:17] anselmolsm commented on #219
I've tested this and things seem to work with signed rpms. @lucasdemarchi any comments?

[2017-07-26 16:20] gjkunde commented on #221
Thank you for the comments, alas they do not address my question.
Are you implying that the Sensor section online is wrong ? It says:

_Command to access the Magnetometer Sensor

Intel Aero Compute Board includes BMM 150 sensor. This sensor is connected to Atom SoC via I2C interface on bus 2 at slave address 0x12. In order to communicate with this sensor, please use below linux i2c commands:

[2017-07-26 16:55] lucasdemarchi commented on #221
@gjkunde as Luis said there are 2 boards:  the compute board and the the flight controller. The communication with QGC is from the flight controller, **not** the compute board.

The wiki is wrong wrt accessing the baro, we need to fix it. Thanks for reporting. MS5611 doesn't respond to I2C query, even if it's there.

Again, with RTF you should be looking for the sensors from the flight controller.

[2017-07-26 17:27] gjkunde commented on #221
Thank you ! Then let me rephrase again :-)
Running the latest (in fact any) PX4 flight stack I neither
see the board magnet (it is on bus 2 with address 0x12 when
I do i2cdetect) nor the barometer. How would I start debugging
the problem ? I thought talking to them with i2cset and i2cget would
establish they are working ?

[2017-07-26 17:34] lucasdemarchi commented on #221
@gjkunde how are you running the PX4 flight stack?    It only runs on the flight controller and i2cset/i2cget is on the compute board.

What's the error message QGC is giving you?  Can you add a screenshot here on the summary tab?

[2017-07-26 17:38] gjkunde opened #234 "WARNING label for compass ports - opposite wiring for AERO RFT and Compute Breakout Board"
While the aeroboard writeup correctly states the pinout for
the compass header on the breakout board and has a warning
in red that the battery voltage is patched through to Vcc, it could in
addition state that the compass header on the RTF drone and compass
header on the breakout board have opposite wiring - not exactly what we expected.
They are mirror images ... make developing more difficult ..

[2017-07-26 18:20] gjkunde commented on #221
Thank you Lucas,

I compiled the stack after a git pull yesterday, copied it to the RTF and loaded it

gjkunde$ make aerofc-v1_default
[243/243] Generating aerofc-v1_default.px4, firmware_nuttx.bin

I run BIOS AERO-01.00.12_PROD
OS version 1.4.0 (pyro)
AIRMAP 1.8
FPGA     0xC0

attached is the QGC screen shot. I cannot fly anymore because mag0 is
a prerequisit. I tried calibrating the compass - af

[2017-07-27 00:25] anselmolsm commented on #178
Thanks @avinash-palleti . With regards to the evaluation, I think it's done. If we identify there's a problem with the shutdown, we'll report a new issue to track that as a bug.

[2017-07-27 00:25] #178 closed

[2017-07-27 00:40] whbruce commented on #206
I didn't realize that pcp was optional until I had created the recipe. Too bad, as that's what took all my time :-(

[2017-07-27 03:38] RohanKurane commented on #223
@zehortigoza - Zeroing out the struct did not make a difference. Still get the same error.

@anselmolsm - I will re-do it with 1.4 and post my results.

[2017-07-27 09:31] Rjasuja commented on #195
@lucasdemarchi Following is the snapshot, i am planning to implement for this.
![image](https://user-images.githubusercontent.com/25738737/28663867-3c9dc384-72dc-11e7-8f70-8a76a8f58982.png)

Function:
1. On the press of Scan button, it will list all available AP's in text section as a list. From the list, whatever will be selected, will be used to connect. In the back end, a python script will be

[2017-07-27 13:38] blankered opened #239 "latest build failing on missing file/directory systemd-boot/recipeinfo"
Hi,

I am trying to compile the image from scratch. It compiles 6983 packages but fails on the following package.

[code]

[2017-07-27 13:39] lucasdemarchi commented on #239
What command are you using to build?

[2017-07-27 14:01] blankered commented on #239
bitbake intel-aero-image

[2017-07-27 14:59] anselmolsm commented on #225
Fixed by #237

[2017-07-27 14:59] #225 closed

[2017-07-27 17:57] zehortigoza commented on #34
Done

[2017-07-27 17:57] #34 closed

[2017-07-27 18:08] anselmolsm commented on #239
@blankered Have you copied the environment from one user to another?

I see reference to /home/**cbdlab**/intel_aero/poky/meta/classes/license.bbclass
Then the error is due to missing file at /home/**user**/intel_aero/poky/build/tmp/deploy/licenses/systemd-boot/recipeinfo

[2017-07-27 20:14] RohanKurane commented on #223
Any suggestions ? I would like to get this to work and be able to take pics.

[2017-07-27 20:21] zehortigoza commented on #223
@RohanKurane Have you tried to run the 2 projects that I sent to you? I tested those 2 and they are working

[2017-07-27 20:26] RohanKurane commented on #223
@zehortigoza - I really just need to understand why the ioctl VIDIOC_S_FMT is failing. I noticed the project does a CLEAR of the fmt structure. I do the same usind memset(&fmt, 0, sizeof(fmt)). I believe if that works, I should be able to get further. I have actually noticed it works one out of 10 times.
To answer your question, no I have not run your 2 projects.

[2017-07-27 22:02] RohanKurane commented on #223
@zehortigoza - The one time the ioctl is successful, the ioctl to turn streaming on fails with err = 22.
ioctl(ctx->fd, VIDIOC_STREAMON, &type)

enum v4l2_buf_type type = V4L2_BUF_TYPE_VIDEO_CAPTURE;

Any idea why ?

[2017-07-27 22:09] RohanKurane commented on #223
@zehortigoza  - I will. Thanks

fyi..
found this in regards to the VIDIOC_STREAMON ioctl -  Specifically the capture hardware is disabled and no input buffers are filled (if there are any empty buffers in the incoming queue) until VIDIOC_STREAMON has been called. Accordingly the output hardware is disabled, no video signal is produced until VIDIOC_STREAMON has been called. **The ioctl will succeed

[2017-07-28 02:30] #219 closed

[2017-07-28 03:49] Rjasuja commented on #195
@lucasdemarchi  Proceeding with Python, i'll need pexpect for executing commands with connmanctl shell. Should we include this as part of image ?

[2017-07-28 03:51] lucasdemarchi commented on #195
If it's necessary, yes. I think we have Python's subprocess though.

[2017-07-28 03:52] Rjasuja commented on #195
Subprocess doesn't help with interactive shell.

[2017-07-28 14:44] blankered commented on #239
Yes, I changed the username in the posted error log. I thought I had changed all references when I posted it. Here is the vanilla version:

[code]

[2017-07-28 16:06] anselmolsm commented on #195
You don't need the interactive shell. `connmanctl` also accepts commands as arguments.
`connmanctl scan wifi`, `connmanctl services`, etc.

[2017-07-28 16:20] anselmolsm commented on #239
I haven't seen this error in my builds, nor in the CI (incremental and clean builds).
However @avinash-palleti faced the same problem. He managed to "fix" that running: `bitbake -c clean intel-aero-image`.

Experience says that sometimes the content of poky/build/tmp gets messy and a rm is handy. Calm down, as long as you keep poky/build/sstate-cache, a new build won't take soooo long, as bitbake

[2017-07-28 17:10] #206 closed

[2017-07-29 20:27] RohanKurane commented on #223
@zehortigoza  - I compiled the capturev4l2 on my ubuntu and copied the executable over to the aero board and ran the command
C=10 INPUT=1 MODE=PREVIEW capture_examples --userp -d /dev/video0

I got
root@intel-aero:~# C=10 INPUT=1 MODE=PREVIEW ./capture_examples --userp -d /dev/video0
Preview mode: 640x480, yuv420.
VIDIOC_S_FMT error 22, Invalid argument

Any advise ?

[2017-07-31 02:48] Rjasuja commented on #195
For switching to Station Mode, it needs interactive shell and it doesn't connect without an interactive shell. I tried a few times(giving as an argument) but it gives : "Not registered ". Although, it got connected with the shell.

[2017-07-31 17:11] zehortigoza commented on #223
Why are you running it on /dev/video0? It should be /dev/video2

If you know that it is working, now you can compare both codes, check for non-initialized structs...

[2017-07-31 18:04] RohanKurane commented on #223
int er;
                                const int WIDTH = 640;
                                const int HEIGHT = 480;
                                int SIZE = WIDTH * HEIGHT * 3/2;

                                const int BUFS_COUNT = 4;
                                struct v4l2_streamparm parm;
                                struct v4l2_requestbuffers req;

[2017-07-31 18:07] RohanKurane commented on #223
@zehortigoza : just pasted the code above. I can try video2.

[2017-07-31 19:04] RohanKurane commented on #223
@zehortigoza

Today it does not work -

root@intel-aero:~# C=10 INPUT=0 MODE=PREVIEW ./capture_examples --userp -d /dev/video2
Preview mode: 640x480, yuv420.
VIDIOC_S_FMT error 22, Invalid argument

or

root@intel-aero:~# C=10 INPUT=0 MODE=PREVIEW ./capture_examples --userp -d /dev/video0
Preview mode: 640x480, yuv420.
VIDIOC_S_FMT error 22, Invalid argument

This is the same error in my app when

[2017-07-31 19:14] zehortigoza commented on #223
The OV7251 works everytime in here with the sample, look at your dmesg output check if the OV7251 is detected.

[2017-07-31 20:20] RohanKurane commented on #223
@zehortigoza

it is. Here is the dmesg | grep ov7251 output -

root@intel-aero:~# dmesg | grep ov7251
[    3.543782] ov7251 i2c-INT35AA:00: gmin: initializing atomisp module subdev data.PMIC ID 1
[    3.572142] ov7251 i2c-INT35AA:00: camera pdata: port: 0 lanes: 1 order: 00000002
[    3.574884] ov7251 i2c-INT35AA:00: sensor_revision = 0x2
**[    3.574890] ov7251 i2c-INT35AA:00: detect ov7251 succe

[2017-07-31 20:37] RohanKurane commented on #223
Strange...now it works again. For both video0 and video2..See below. I notice that this is using MODE=PREVIEW. When I tried using MODE=VIDEO I got the VIDIOC_S_FMT error. See below.

root@intel-aero:~# C=10 INPUT=0 MODE=PREVIEW ./capture_examples --userp -d /dev/video0
Preview mode: 640x480, yuv420.
m_width 640, m_height 480, m_sizeimage 462848, m_padded_width:640, bytesperline 640
Saving file: Im

[2017-07-31 21:04] RohanKurane commented on #223
Please note that I am running 1.3.1

root@intel-aero:~# aero-get-version.py
BIOS_VERSION = Aero-01.00.12_Prod
**OS_VERSION = Poky Aero (Intel Aero Linux Distro) 1.3.1 (krogoth)"**
AIRMAP_VERSION = 1.8
FPGA_VERSION = 0xa1

I had some issues with pthreads on 1.4 and my app. I have not had a chance to dig into it.

[2017-07-31 21:07] RohanKurane commented on #223
The error within my app (code pasted above) still exists. I get error 22 for VIDIOC_S_FMT and if that passes, I fail on the VIDIOC_STREAMON ioctl.

[2017-07-31 21:18] zehortigoza commented on #221
@gjkunde You can enable CONFIG_SYSTEM_I2CTOOL and use i2ctools in the Nuttx terminal to do similar things that i2cset/i2cget/i2cdetect... tools do.
To get into Nuttx terminal just connect to Aero board by Wifi or USB-over-ethernet, close any application that is using the udp port 14550 on the host machine and on the PX4-firmware directory run: Tools/mavlink_shell.py 0.0.0.0:14550

About the "no ma

[2017-07-31 23:13] RohanKurane commented on #223
@zehortigoza

It works now from my app. I had an error. I was setting the input channel to 1 instead of 0. Looks like INPUT=0 is the ov7251 camera and INPUT=1 is the ov8858 ?
Can you please add some documentation for the INPUT field in capture.cpp ? That is the only parm that is missing an explanation :)
I can close this bug once you add that. Thanks for your help with this. I will open a differen

[2017-08-01 00:01] zehortigoza commented on #223
@RohanKurane There is something odd... ov7251 should be /dev/video2 id=1.

[2017-08-01 02:06] RohanKurane commented on #223
@zehortigoza

Does it depend on where the camera is attached on the aero compute board ? I have it attached to the far right corner.

[2017-08-01 10:23] Rjasuja commented on #195
https://github.com/Rjasuja/aero-cockpit-plugins/blob/upstream8/network/network.html
I am facing an issue with opening a file and reading its contents using javascript.
Issue is : Javascript(using XMLHttpRequest) will read the same file(first read) over and again even though the file contents have changed.
Tried the following :
1. If i change the file name in the second attempt, i get different con

[2017-08-01 12:28] adityavarmatcs commented on #211
This can be achieved by,

1. Replacing the default logo file(logo.png) present in (/cockpit/branding/default) with "custom logo file"
2. /cockpit/branding/default/branding.css to include the following changes
    a. background-image of #badge to point to "custom logo file"
    b. content of #brand to refer to "${PRETTY_NAME}" which will return the Name and Version of system distro

Is that fine to

[2017-08-01 12:47] shakthi-prashanth-m commented on #195
As the python script writes scan results to a local file, can you try reading using normal file read operation ?